In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

20

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('../menu.xlsx', index=False)

df

Progress: 100%|████████████████████████████| 20/20 [00:00<00:00, 1595.52it/s]

     Page  No.                                                Url
0       1    1  https://www.amazon.com/Wheel-Bearing-Front-Dri...
1       1    2  https://www.amazon.com/Front-Wheel-Bearing-95-...
2       1    3  https://www.amazon.com/Wheel-Bearing-Front-Rig...
3       1    4  https://www.amazon.com/Wheel-Bearing-Assembly-...
4       1    5  https://www.amazon.com/Front-Wheel-Bearing-wit...
..    ...  ...                                                ...
301    19  302  https://www.amazon.com/Wheel-Bearings-Maxima-X...
302    19  303  https://www.amazon.com/Wheel-Bearing-Front-00-...
303    19  304  https://www.amazon.com/Front-Wheel-Bearings-Ri...
304    20  305  https://www.amazon.com/Front-Wheel-Bearing-Hyu...
305    20  306  https://www.amazon.com/Wheel-Bearing-Driver-Pa...

[306 rows x 3 columns]