In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./menu.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
 
df = df[['Url', 'No.', 'Part_Number']]
    
df.to_excel('./menu.xlsx', index=False)

df

                                                   Url  No. Part_Number
0    https://www.rockauto.com/en/parts/standard+mot...    1      APK100
1    https://www.rockauto.com/en/parts/standard+mot...    2      APK101
2    https://www.rockauto.com/en/parts/standard+mot...    3      APK102
3    https://www.rockauto.com/en/parts/standard+mot...    4      APK103
4    https://www.rockauto.com/en/parts/standard+mot...    5      APS101
..                                                 ...  ...         ...
375  https://www.rockauto.com/en/parts/standard+mot...  376      APS713
376  https://www.rockauto.com/en/parts/standard+mot...  377      APS714
377  https://www.rockauto.com/en/parts/standard+mot...  378      APS716
378  https://www.rockauto.com/en/parts/standard+mot...  379      APS717
379  https://www.rockauto.com/en/parts/standard+mot...  380      G92005

[380 rows x 3 columns]