In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./manufacturer.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
    
df.to_excel('./1.manufacturer.xlsx', index=False)

df

              Tab_Label  No. Manufacturer
0    Part Number Search    1           3D
1    Part Number Search    2           3M
2    Part Number Search    3          AAE
3    Part Number Search    4          ACC
4    Part Number Search    5        ACCEL
..                  ...  ...          ...
542  Part Number Search  543  WORLD BRAKE
543  Part Number Search  544          WVE
544  Part Number Search  545          XCP
545  Part Number Search  546  XRF CHASSIS
546  Part Number Search  547           ZF

[547 rows x 3 columns]