In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./menu.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
 
df = df[['Url', 'No.', 'Part_Number']]
    
df.to_excel('./menu.xlsx', index=False)

df

                                                   Url  No. Part_Number
0    https://www.rockauto.com/en/parts/melling,3025...    1      30250S
1    https://www.rockauto.com/en/parts/melling,3025...    2     30250SX
2    https://www.rockauto.com/en/parts/melling,3042...    3      30420S
3    https://www.rockauto.com/en/parts/melling,3043...    4      30430S
4    https://www.rockauto.com/en/parts/melling,3046...    5      30460S
..                                                 ...  ...         ...
442  https://www.rockauto.com/en/parts/melling,TOPK...  443    TOPK1005
443  https://www.rockauto.com/en/parts/melling,TOPK...  444    TOPK1006
444  https://www.rockauto.com/en/parts/melling,TOPK...  445  TOPK1006HV
445  https://www.rockauto.com/en/parts/melling,TOPK...  446    TOPK1007
446  https://www.rockauto.com/en/parts/melling,TOPK...  447    TOPK1008

[447 rows x 3 columns]