In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

33

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df[['Page', 'No.', 'Url']]
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|████████████████████████████| 33/33 [00:00<00:00, 1506.72it/s]

     Page  No.                                                Url
0       1    1  https://www.jcsportlinepro.com/ee-zdh7024-pro-...
1       1    2  https://www.jcsportlinepro.com/ee-wtm7023-my-d...
2       1    3  https://www.jcsportlinepro.com/ml-xy022-carbon...
3       1    4  https://www.jcsportlinepro.com/ml-hax111-pro-t...
4       1    5  https://www.jcsportlinepro.com/ml-yww169-carbo...
..    ...  ...                                                ...
637    32  638  https://www.jcsportlinepro.com/ml-qmn005-carbo...
638    32  639  https://www.jcsportlinepro.com/jc-hly349-for-2...
639    32  640  https://www.jcsportlinepro.com/ml-xm275-16-17-...
640    33  641  https://www.jcsportlinepro.com/ml-xm122-11-13-...
641    33  642  https://www.jcsportlinepro.com/ml-xm039-2015up...

[642 rows x 3 columns]