In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
len(list_file)

2

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False)
        
df = df[['Url', 'No.']]

df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|███████████████████████████████| 2/2 [00:00<00:00, 630.06it/s]

                                                  Url  No.
0   https://www.amazon.com/ACLONG-Compatible-Repla...    1
1   https://www.amazon.com/Autel-Programmable-Univ...    2
2   https://www.amazon.com/OBDResource-Relearn-Veh...    3
3   https://www.amazon.com/Autel-TS501-Activation-...    4
4   https://www.amazon.com/Jsueng-Pressure-DE8T-1A...    5
..                                                ...  ...
45  https://www.amazon.com/Standard-Motor-Products...   46
46  https://www.amazon.com/Jsueng-13586335-Pressur...   47
47  https://www.amazon.com/AULINK-13586335-Pressur...   48
48  https://www.amazon.com/Autel-MX-Sensor-Pressur...   49
49  https://www.amazon.com/ROADFAR-Pressure-Monito...   50

[100 rows x 2 columns]