In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
   list_file.remove('.DS_Store')

len(list_file)

1

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(columns=['Item_Number', 'Url'])

df

Empty DataFrame
Columns: [Item_Number, Url]
Index: []

In [5]:
import json

In [6]:
for file in list_file:
    print(file)
    with open('./menu/' + file) as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=True)
        
df.to_excel('./menu.xlsx', index=False)

df

www.ebay.com_sch_i.html__dkr=1&iconV2Request=true&_blrs=recall_filtering&_ssn=am-autoparts&store_name=amautoparts&_oac=1&_nkw=headlights+parking+corner+lights&_ipg=240&_sop=12.txt

      Item_Number                                                Url
0    310900500142  https://www.ebay.com/itm/310900500142?hash=ite...
1    133824771433  https://www.ebay.com/itm/133824771433?hash=ite...
2    310772843154  https://www.ebay.com/itm/310772843154?hash=ite...
3    130979871439  https://www.ebay.com/itm/130979871439?hash=ite...
4    110827427612  https://www.ebay.com/itm/110827427612?hash=ite...
..            ...                                                ...
154  370943240871  https://www.ebay.com/itm/370943240871?epid=502...
155  370915805066  https://www.ebay.com/itm/370915805066?hash=ite...
156  312199996938  https://www.ebay.com/itm/312199996938?hash=ite...
157  372382250480  https://www.ebay.com/itm/372382250480?hash=ite...
158  371281128591  https://www.ebay.com/itm/371281128591?epid=111...

[159 rows x 2 columns]