In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
   list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
   list_file.remove('0.null.txt')

len(list_file)

3

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='运行中', ncols=77):
    with open('./menu/' + file) as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=True)
        
df = df[['Item_Number', 'Url']]
        
df.to_excel('./menu.xlsx', index=False)

df

运行中: 100%|█████████████████████████████████| 3/3 [00:00<00:00, 910.42it/s]

      Item_Number                                                Url
0    352564212188  https://www.ebay.com/itm/352564212188?hash=ite...
1    373975866057  https://www.ebay.com/itm/373975866057?epid=901...
2    231768645840  https://www.ebay.com/itm/231768645840?hash=ite...
3    231998122784  https://www.ebay.com/itm/231998122784?epid=220...
4    231848305782  https://www.ebay.com/itm/231848305782?hash=ite...
..            ...                                                ...
715  231999231331  https://www.ebay.com/itm/231999231331?hash=ite...
716  353959505632  https://www.ebay.com/itm/353959505632?hash=ite...
717  370877750833  https://www.ebay.com/itm/370877750833?epid=240...
718  353960477593  https://www.ebay.com/itm/353960477593?epid=197...
719  234526371914  https://www.ebay.com/itm/234526371914?hash=ite...

[720 rows x 2 columns]