In [1]:
param_market = 'US'

In [2]:
import os

In [3]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

24

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [6]:
from tqdm import tqdm
from bs4 import BeautifulSoup
from lxml import etree

In [7]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        html = f.read()
        
        # = = = = = = = = = = = = = = =
        
        soup = BeautifulSoup(html, 'lxml')
        html = etree.HTML(str(soup))
        
        # = = = = = = = = = = = = = = =
        
        if param_market == 'US':
            list_item_number = [item_number.replace('Item:', '').strip() for item_number in html.xpath('//span[@class="s-item__item-id s-item__itemID"]/text()')]
        elif param_market == 'DE':
            list_item_number = [item_number.replace('Artikel:', '').strip() for item_number in html.xpath('//span[@class="s-item__item-id s-item__itemID"]/text()')]
        
        # = = = = = = = = = = = = = = =
        
        df_temp = pd.DataFrame({'Page': int(file.replace('.txt', '')),
                                'No.': [i+1 for i in range(len(list_item_number))],
                                'Item_Number': list_item_number})

        df = pd.concat([df, df_temp], ignore_index=True).fillna('')

# = = = = = = = = = = = = = = =
        
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|██████████████████████████████| 24/24 [00:13<00:00,  1.77it/s]

      Page   No.           Url
0        1     1  303939114015
1        1     2  284240322618
2        1     3  284240396275
3        1     4  303941511458
4        1     5  284238155559
...    ...   ...           ...
5651    24  5652  285401923182
5652    24  5653  305030546406
5653    24  5654  305012573159
5654    24  5655  305090222510
5655    24  5656  276015967404

[5656 rows x 3 columns]