In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
len(list_file)

40

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='进度', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False)
        
df = df[['Url', 'No.']]

df.to_excel('./menu.xlsx', index=False)

df

进度: 100%|████████████████████████████████| 40/40 [00:00<00:00, 1824.15it/s]

                                                   Url  No.
0    https://www.ebay.com/itm/374777510392?hash=ite...    1
1    https://www.ebay.com/itm/233000178338?hash=ite...    2
2    https://www.ebay.com/itm/354763656045?hash=ite...    3
3    https://www.ebay.com/itm/354810019772?hash=ite...    4
4    https://www.ebay.com/itm/352553545140?hash=ite...    5
..                                                 ...  ...
235  https://www.ebay.com/itm/235034549346?hash=ite...  236
236  https://www.ebay.com/itm/374838096317?hash=ite...  237
237  https://www.ebay.com/itm/235123935034?hash=ite...  238
238  https://www.ebay.com/itm/354973087454?hash=ite...  239
239  https://www.ebay.com/itm/374873102282?hash=ite...  240

[9516 rows x 2 columns]