In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
len(list_file)

22

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df[['Page', 'No.', 'Item_Number']]
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|█████████████████████████████| 22/22 [00:00<00:00, 723.14it/s]

      Page   No.   Item_Number
0        1     1  305023574618
1        1     2  274366266574
2        1     3  304981523908
3        1     4  271395029396
4        1     5  272927990573
...    ...   ...           ...
5275    22  5276  285432403556
5276    22  5277  283601468404
5277    22  5278  303933991580
5278    22  5279  276122945290
5279    22  5280  284241882388

[5280 rows x 3 columns]