In [1]:
import os

In [2]:
list_file = list(os.walk('./file'))[0][2]
if '.DS_Store' in list_file:
   list_file.remove('.DS_Store')

len(list_file)

1

In [3]:
import pandas as pd

df = pd.DataFrame(columns=['Part Number'])

df

Empty DataFrame
Columns: [Part Number]
Index: []

In [4]:
import json

In [5]:
for file in list_file:
    print(file)
    f = open('./file/' + file)
    list_row = f.read()[1:-1].split('},{')
    for i in range(len(list_row)):
        if i == 0:
            text = json.loads(list_row[i] + '}')
        elif i == len(list_row) - 1:
            text = json.loads('{' + list_row[i])
        else:
            text = json.loads('{' + list_row[i] + '}')
        df_temp = pd.DataFrame({'Part Number': [text['Part_Number']]})
        df = pd.concat([df, df_temp], ignore_index=True).fillna('')
    f.close()

www.rockauto.com_en_parts_csf,radiator,2172.txt

In [6]:
df.to_excel('./part_in.xlsx', index=False)

df

    Part Number
0           110
1           180
2           808
3           895
4          2027
..          ...
630        3941
631        3942
632        3943
633        3946
634        3947

[635 rows x 1 columns]