In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
len(list_file)

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False)
        
df = df[['Item_Number', 'No.']]

df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|███████████████████████████████| 2/2 [00:00<00:00, 518.78it/s]

      Item_Number  No.
0    192540786888    1
1    194505416045    2
2    194505416151    3
3    194505416251    4
4    194505416394    5
..            ...  ...
111  195656999183  112
112  192399272603  113
113  192470815384  114
114  192470816410  115
115  192335808616  116

[356 rows x 2 columns]