In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df[['Page', 'No.', 'Item_Number']]
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)

df

Progress: 100%|█████████████████████████████| 39/39 [00:00<00:00, 689.93it/s]

      Page  No.   Item_Number
0        1    1  186075840365
1        1    2  354755948242
2        1    3  404631806422
3        1    4  186107895479
4        1    5  256165827758
...    ...  ...           ...
9332    39  213  256080798259
9333    39  214  125185544609
9334    39  215  250659315041
9335    39  216  400540085625
9336    39  217  360277260917

[9337 rows x 3 columns]

In [7]:
df = df.drop_duplicates(['Item_Number'], keep='first').reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

      Page   No.   Item_Number
0        1     1  186075840365
1        1     2  354755948242
2        1     3  404631806422
3        1     4  186107895479
4        1     5  256165827758
...    ...   ...           ...
9165    39  9166  256080798259
9166    39  9167  125185544609
9167    39  9168  250659315041
9168    39  9169  400540085625
9169    39  9170  360277260917

[9170 rows x 3 columns]