- Update: 2023.03.06

# 0. 配置参数

- `calculate`：what the fuck

In [1]:
calculate = '../../file/计算表-【每日断货汇报】US-Ebay 20230303.xlsx'

In [2]:
import pandas as pd

In [3]:
table_1 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,481.0,38.0,27.0,0.079002,0.056133,9.0,0.018711
1,TOP10,2461.0,206.0,137.0,0.083706,0.055668,60.0,0.024380
2,TOP20,6011.0,376.0,412.0,0.062552,0.068541,139.0,0.023124
3,普通,42136.0,1748.0,4085.0,0.041485,0.096948,855.0,0.020291
4,总数,51089.0,2368.0,4661.0,0.046350,0.091233,1063.0,0.020807

In [4]:
table_2 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）  断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1      38.0    5.0  0.131579       27.0     2.0  0.074074
1  TOP10     206.0   44.0  0.213592      137.0    21.0  0.153285
2  TOP20     376.0  106.0  0.281915      412.0    92.0  0.223301
3     普通    1748.0  621.0  0.355263     4085.0  2106.0  0.515545
4     总数    2368.0  776.0  0.327703     4661.0  2221.0  0.476507

In [5]:
table_3 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W05\n02/03,W06\n02/07,W06\n02/11,W07\n02/17,W08\n02/21,W08\n02/25,W08\n02/28,W09\n03/03
0,TOP1,42.0,48.0,49.0,48.0,48.0,43.0,35.0,38.0
1,TOP10,210.0,234.0,240.0,200.0,208.0,207.0,194.0,206.0
2,TOP20,352.0,381.0,385.0,351.0,359.0,366.0,367.0,376.0
3,普通,1457.0,1508.0,1493.0,1741.0,1764.0,1757.0,1760.0,1748.0
4,总数,2061.0,2171.0,2167.0,2340.0,2379.0,2373.0,2356.0,2368.0

In [6]:
table_4 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(28, 33)], index_col=0)

table_4

         品类  断货SKU数量  总SKU数      断货占比
排名
TOP1     BC      167   2789  0.059878
TOP2    ACC      108    476  0.226891
TOP3     CA      101   4436  0.022768
TOP4     HB       88   1131  0.077807
TOP5    ABS       86   1422  0.060478
...     ...      ...    ...       ...
TOP391  EGR        0     82  0.000000
TOP392  ACS        0     94  0.000000
TOP393  AEC        0    237  0.000000
TOP394  CAF        0    248  0.000000
TOP395  AEV        0    299  0.000000

[395 rows x 4 columns]

In [7]:
sheet_2_left = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(5)], index_col=0)

sheet_2_left

              SKU     层级    周销  在途
序号
1    USBM10010D-C   TOP1  4.00   0
2      USBMC18000   TOP1  5.00   0
3       USDS23612   TOP1  0.00   0
4      USIM20330T   TOP1  5.00   0
5      USPLA29744   TOP1  6.00   0
..            ...    ...   ...  ..
170     USWP72360  TOP20  1.70   0
171     USWR41948  TOP20  1.70   0
172     USWR49322  TOP20  1.50   0
173     USWR52629  TOP20  0.25   0
174    USWS22121X  TOP20  1.00   0

[174 rows x 4 columns]

In [8]:
sheet_2_right = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(7, 9)], index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

         断货数
品类去重
ALT     16.0
FF      15.0
STR     12.0
IM       9.0
KS       9.0
ACC      8.0
CA       8.0
CON      7.0
PSR      7.0
BC       6.0
OP       5.0
WR       4.0
CVA      4.0
RAD      4.0
BMC      3.0
CS-弹簧    3.0
HB       3.0
HBZ      3.0
SA       3.0
EM       2.0
WIM      2.0
OIP      2.0
OC       2.0
BM       2.0
DS       2.0
AST      2.0
BT       2.0
SM       1.0
PHLS     1.0
PLA      1.0
PRV      1.0
SG       1.0
SKA      1.0
TCV      1.0
TBC      1.0
THA      1.0
VCS      1.0
WO       1.0
WP       1.0
MAF      1.0
OS       1.0
ACH      1.0
IMB      1.0
HCR      1.0
GS       1.0
FSU      1.0
FP       1.0
FIC      1.0
FFP      1.0
FC       1.0
FAH      1.0
EVC      1.0
DLA      1.0
CA-控制臂   1.0
ABS      1.0
WS       1.0

In [9]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(table_1.loc[4, '断货率']*100).split('.')[0] + '.' + str(round(table_1.loc[4, '断货率']*10000) - int(str(table_1.loc[4, '断货率']*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(max(table_1['断货率'])*100).split('.')[0] + '.' + str(round(max(table_1['断货率'])*10000) - int(str(max(table_1['断货率'])*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(max(table_1['干预率'])*100).split('.')[0] + '.' + str(round(max(table_1['干预率'])*10000) - int(str(max(table_1['干预率'])*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

2368; 4.64%; TOP10; 8.37%; 普通; 9.69%

= = = = = = = = = = = = = = = = = =

174; ALT; FF; STR; 16; 15; 12

= = = = = = = = = = = = = = = = = =

6

In [10]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(table_2.loc[4, '占比']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比']*10000) - int(str(table_2.loc[4, '占比']*100).split('.')[0])*100) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(table_2.loc[4, '占比.1']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比.1']*10000) - int(str(table_2.loc[4, '占比.1']*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

2368; 776; 32.77%; 4661; 2221; 47.65%

= = = = = = = = = = = = = = = = = =

27; 2

In [11]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 3
TOP10: 12
TOP20: 9
普通: -12

In [12]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print('\n= = = = = = = = = = = = = = = = = =\n')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(max(table_4['断货占比'][:10])*100).split('.')[0] + '.' + str(round(max(table_4['断货占比'][:10])*10000) - int(str(max(table_4['断货占比'][:10])*100).split('.')[0])*100) + '%')

BC; 167

= = = = = = = = = = = = = = = = = =

ACC; 476; ACC; 108; 22.69%