In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

134

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|██████████████████████████| 134/134 [00:00<00:00, 1666.25it/s]

      Page  No.                                                Url
0        1    1  https://www.autoteiledirekt.de/master-sport-87...
1        1    2  https://www.autoteiledirekt.de/master-sport-87...
2        1    3  https://www.autoteiledirekt.de/master-sport-87...
3        1    4   https://www.autoteiledirekt.de/jpn-17799893.html
4        1    5  https://www.autoteiledirekt.de/kraft-19199505....
...    ...  ...                                                ...
2001   134    7  https://www.autoteiledirekt.de/delphi-1753448....
2002   134    8   https://www.autoteiledirekt.de/bosch-680404.html
2003   134    9   https://www.autoteiledirekt.de/bosch-680422.html
2004   134   10   https://www.autoteiledirekt.de/bosch-680405.html
2005   134   11    https://www.autoteiledirekt.de/vdo-1736623.html

[2006 rows x 3 columns]