In [1]:
import os

In [2]:
list_file = list(os.walk('./crawler_1'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
len(list_file)

122

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./crawler_1/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False)

df = df[['Url', 'No.']]
        
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|██████████████████████████| 122/122 [00:00<00:00, 1416.66it/s]

    No.                                              Url
0     1  https://www.autoteiledirekt.de/skf-1363308.html
1     2  https://www.autoteiledirekt.de/skf-1362943.html
2     3    https://www.autoteiledirekt.de/skf-16193.html
3     4  https://www.autoteiledirekt.de/skf-1362992.html
4     5  https://www.autoteiledirekt.de/skf-1363240.html
..  ...                                              ...
10   11  https://www.autoteiledirekt.de/skf-1363149.html
11   12  https://www.autoteiledirekt.de/skf-7614665.html
12   13  https://www.autoteiledirekt.de/skf-1362896.html
13   14  https://www.autoteiledirekt.de/skf-1362448.html
14   15  https://www.autoteiledirekt.de/skf-1362653.html

[1821 rows x 2 columns]