In [1]:
import pandas as pd

output_correct = pd.DataFrame()

In [2]:
import os

In [3]:
list_file = list(os.walk('./model'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

3080

In [4]:
from tqdm import tqdm
from bs4 import BeautifulSoup
from lxml import etree

In [5]:
for a in tqdm(range(len(list_file)), desc='Progress', ncols=77):
    with open('./model/' + list_file[a], 'r', encoding='UTF-8') as file:
        resp = file.read()
        
    # = = = = = = = = = = = = = = =
    
    soup = BeautifulSoup(resp, 'lxml')
    html = etree.HTML(str(soup))
    
    # = = = = = = = = = = = = = = =
    
    list_model = html.xpath('//div[@class="compatibility__model-title"]')
    
    # = = = = = = = = = = = = = = =
    
    product_id = list_model[0].xpath('./@data-article-id')[0].strip()
    
    # = = = = = = = = = = = = = = =
    
    maker_id = list_model[0].xpath('./@data-maker-id')[0].strip()
    
    # = = = = = = = = = = = = = = =
    
    model_id = ';'.join([model.xpath('./@data-model-id')[0].strip() for model in list_model])
    
    # = = = = = = = = = = = = = = =
    
    vehicle_1 = '\n'.join([model.xpath('./text()')[0].strip() for model in list_model])
    
    # = = = = = = = = = = = = = = =
    
    df_temp = pd.DataFrame([{'No.': int(list_file[a].replace('.txt', '')),
                             'Product_Id': product_id,
                             'Maker_Id': maker_id,
                             'Model_Id': model_id,
                             'Vehicle_1': vehicle_1}])

    output_correct = pd.concat([output_correct, df_temp], ignore_index=True).fillna('')

    # = = = = = = = = = = = = = = =
    
output_correct = output_correct.drop_duplicates(ignore_index=True)
output_correct = output_correct.sort_values(by=['No.'], ascending=[True]).reset_index(drop=True)
output_correct.to_excel('./model_2.xlsx', index=False)

output_correct

Progress: 100%|█████████████████████████| 3080/3080 [00:09<00:00, 332.99it/s]

,序号,Product_Id,Maker_Id,Model_Id,Vehicle_1
0,1,8722705,2,278;1321,ALFA ROMEO 145 (930) (Baujahr 07.1994 - 01.200...
1,2,8722705,35,364;369;404;1458;1459;1570;1571;2046;2047;4589,FIAT Tempra Limousine (159) (Baujahr 03.1990 -...
2,3,8722705,64,266,LANCIA Delta II (836) (Baujahr 06.1993 - 09.1999)
3,4,8725935,88,3555;4898,PEUGEOT 206 Schrägheck (2A/C) (Baujahr 08.1998...
4,5,8722686,93,1479;1561;4084,RENAULT Megane I Schrägheck (BA) (Baujahr 08.1...
...,...,...,...,...,...
3075,3076,680404,99,102;107;124;129,SAAB 900 I Combi Coupe (Baujahr 06.1978 - 06.1...
3076,3077,680404,117,1932,VAUXHALL Senator Mk2 (B) (V88) (Baujahr 09.198...
3077,3078,680422,120,417;429;1634,VOLVO 460 L (464) (Baujahr 09.1988 - 12.1996)\...
3078,3079,680405,74,12;18;24;52;60;38804,MERCEDES-BENZ W124 Coupe (C124) (Baujahr 03.19...
3079,3080,1736623,74,29;35,MERCEDES-BENZ S-Klasse Limousine (W126) (Bauja...

In [6]:
df = output_correct[['Product_Id', 'Vehicle_1']]
df = df.groupby('Product_Id', as_index=False).agg({'Vehicle_1': '\n'.join})
df.to_excel('./model.xlsx', index=False)

df

     Product_Id                                          Vehicle_1
0      10034791  OPEL Omega B Caravan (V94) (Baujahr 03.1994 - ...
1      10034792  ALFA ROMEO 164 (164) (Baujahr 01.1987 - 09.199...
2      10114557  RENAULT Rapid Kastenwagen (F40, G40) (Baujahr ...
3      10123985  FORD Fiesta Mk4 Schrägheck (JAS, JBS) (Baujahr...
4      10124051  FORD USA Explorer Mk2 (UN105) (Baujahr 09.1994...
...         ...                                                ...
1727    9955506  AUDI 80 B4 Limousine (8C2) (Baujahr 09.1991 - ...
1728    9955507  RENAULT Laguna I Schrägheck (B56) (Baujahr 11....
1729    9955517  AUDI A4 B5 Limousine (8D2) (Baujahr 11.1994 - ...
1730    9955521  AUDI A4 B5 Limousine (8D2) (Baujahr 11.1994 - ...
1731    9955523  AUDI A4 B5 Limousine (8D2) (Baujahr 11.1994 - ...

[1732 rows x 2 columns]