In [1]:
param_date = '20240715'

In [2]:
import os

list_file = sorted(list(os.walk(f'./{param_date}/7.group'))[0][2])
while '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
while '0.null.txt' in list_file:
    list_file.remove('0.null.txt')

list_file

['make_1.ABARTH.xlsx']

In [3]:
file = list_file[0]

file

'make_1.ABARTH.xlsx'

In [4]:
import pandas as pd

output_correct, output_error = pd.DataFrame(), pd.DataFrame()

In [5]:
input_ = pd.read_excel(f'./{param_date}/7.group/{file}',
                       header=0,
                       dtype=str).fillna('')

input_['Make No'] = input_['Make No'].astype(int)
input_['Model No'] = input_['Model No'].astype(int)
input_['Engine No'] = input_['Engine No'].astype(int)
input_['Year'] = input_['Year'].astype(int)
input_['Group No'] = input_['Group No'].astype(int)

print(f'总数量：{len(input_)}')
input_['Group'].tolist()

总数量：264

['982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '982cc L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.6L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.9L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '1.1L L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '747cc L4',
 '833cc L4',
 '833cc L4',
 '833cc L4',
 '833cc L4',
 '833cc L4',
 '833cc L4',
 '833cc L4',
 '833cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '847cc L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '1.3L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4',
 '2.0L L4']

In [6]:
a = 0

a

0

In [7]:
crawler_status = 'error'

crawler_status

'error'

In [8]:
import requests
import json

import sys
sys.path.append('../../00.Tools')
from crawler_configuration import get_header, get_proxy

payload = {'jsn': {'tab': 'catalog',
                   'make': input_.loc[a, 'Make'],
                   'year': int(input_.loc[a, 'Year']),
                   'model': input_.loc[a, 'Model'],
                   'carcode': input_.loc[a, 'Car Code'],
                   'engine': input_.loc[a, 'Engine'],
                   'groupname': input_.loc[a, 'Group'],
                   'nodetype': 'groupname'}}

data = {'func': 'navnode_fetch',
        'payload': json.dumps(payload),
        'api_json_request': '1'}

b = 0
while True:

    while True:
        b += 1
        print(b)
        try:
            resp = requests.post('https://www.rockauto.com/catalog/catalogapi.php',
                                 data=data,
                                 headers=get_header(),
                                 proxies=get_proxy(),
                                 timeout=(10, 10))
            break
        except:
            continue

    if resp.status_code == 200:
        break

resp

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

In [9]:
json_ = resp.json()

json_

{'html_fill_sections': {'navchildren[]': '<div class="ranavnode" id="nav[__GIP__1__]"><input type="hidden" autocomplete="off" id="jsn[__GIP__1__]" value="{&quot;groupindex&quot;:&quot;__GIP__1__&quot;,&quot;tab&quot;:&quot;catalog&quot;,&quot;idepth&quot;:1,&quot;make&quot;:&quot;ABARTH&quot;,&quot;year&quot;:&quot;1969&quot;,&quot;model&quot;:&quot;1000&quot;,&quot;carcode&quot;:&quot;1438885&quot;,&quot;engine&quot;:&quot;982cc L4&quot;,&quot;groupname&quot;:&quot;Brake &amp; Wheel Hub&quot;,&quot;parttype&quot;:&quot;1684&quot;,&quot;nodetype&quot;:&quot;parttype&quot;}" /><input type="hidden" autocomplete="off" name="navnodeunique[catalog-abarth-1969-1000-1438885-brake &amp; wheel hub-1684]" id="navnodeunique[catalog-abarth-1969-1000-1438885-brake &amp; wheel hub-1684]" value="__GIP__1__" /><div id="nav_o[__GIP__1__]" class="ranavouter"><div class="inner"><table class="tbl"  cellpadding="0" cellspacing="0"><tr><td class="niconspace nvlineicon"></td><td class="niconspace ncollapsedicon" id="navicon[__GIP__1__]"><a href="/en/catalog/abarth,1969,1000,982cc+l4,1438885,brake+&amp;+wheel+hub,brake+pad,1684" onclick="cataloglite.LinkIntercept_ToggleNavNode(&quot;__GIP__1__&quot;); return false;" tabindex="-1"><img src="/Images/1pxtransparent.png" alt="Toggle"></a></td><td class="nlabel"  title="Brake pads, consisting of metal backing plates and friction material, are contained in the brake caliper. When the brakes are applied, the caliper presses the brake pads against the rotor to slow or stop the vehicle."><a class="navlabellink nvoffset nimportant" href="/en/catalog/abarth,1969,1000,982cc+l4,1438885,brake+&amp;+wheel+hub,brake+pad,1684" onclick="cataloglite.LinkIntercept_ToggleNavNode(&quot;__GIP__1__&quot;); return false;" id="navhref[__GIP__1__]">Brake Pad</a></td></tr></table></div></div><div class="nchildren ra-hide" id="navchildren[__GIP__1__]" ></div></div>'},
 'jsn': {'tab': 'catalog',
  'make': 'ABARTH',
  'year': 1969,
  'model': '1000',
  'carcode': '1438885',
  'engine': '982cc L4',
  'groupname': 'Brake & Wheel Hub',
  'nodetype': 'groupname',
  'idepth': 0},
 'collected_javascript': '/**UQ:F24361A8**/\nwindow.top.parent.window["_nck"] = "8LVLUxTaILBT+tLxkg8+3Ag7\\/0bbOhvn7P3rkFbL809YNOHQDmNBznFtdYfbcEUriQ0mcmy\\/TcWfcbfHTjxSwndfe2chgzy88liHO2MoAcp7wW7lek5DxawTLSg\\/DpYUwwgKwrMfy30gJkwFadGWV8G0QSHXu8lmQtyLGxaWyOk=";\n'}

In [ ]:
'redirect_to_url' in json_

In [10]:
json_['jsn']['tab'] == 'catalog' and json_['jsn']['make'] == input_.loc[a, 'Make'] and json_['jsn']['year'] == input_.loc[a, 'Year'] and json_['jsn']['model'] == input_.loc[a, 'Model'] and json_['jsn']['carcode'] == input_.loc[a, 'Car Code'] and json_['jsn']['engine'] == input_.loc[a, 'Engine'] and json_['jsn']['groupname'] == input_.loc[a, 'Group'] and json_['jsn']['nodetype'] == 'groupname' and 'collected_javascript' in json_

True

In [11]:
from bs4 import BeautifulSoup
from lxml import etree

soup = BeautifulSoup(json_['html_fill_sections']['navchildren[]'].strip(), 'lxml')
html = etree.HTML(str(soup))

with open('./type_1.html', 'w', encoding='UTF-8') as file:
    file.write(str(soup))

print(soup.prettify())

<html>
 <body>
  <div class="ranavnode" id="nav[__GIP__1__]">
   <input autocomplete="off" id="jsn[__GIP__1__]" type="hidden" value='{"groupindex":"__GIP__1__","tab":"catalog","idepth":1,"make":"ABARTH","year":"1969","model":"1000","carcode":"1438885","engine":"982cc L4","groupname":"Brake &amp; Wheel Hub","parttype":"1684","nodetype":"parttype"}'/>
   <input autocomplete="off" id="navnodeunique[catalog-abarth-1969-1000-1438885-brake &amp; wheel hub-1684]" name="navnodeunique[catalog-abarth-1969-1000-1438885-brake &amp; wheel hub-1684]" type="hidden" value="__GIP__1__"/>
   <div class="ranavouter" id="nav_o[__GIP__1__]">
    <div class="inner">
     <table cellpadding="0" cellspacing="0" class="tbl">
      <tr>
       <td class="niconspace nvlineicon">
       </td>
       <td class="niconspace ncollapsedicon" id="navicon[__GIP__1__]">
        <a href="/en/catalog/abarth,1969,1000,982cc+l4,1438885,brake+&amp;+wheel+hub,brake+pad,1684" onclick='cataloglite.LinkIntercept_ToggleNavNode("__GIP__1__"); return false;' tabindex="-1">
         <img alt="Toggle" src="/Images/1pxtransparent.png"/>
        </a>
       </td>
       <td class="nlabel" title="Brake pads, consisting of metal backing plates and friction material, are contained in the brake caliper. When the brakes are applied, the caliper presses the brake pads against the rotor to slow or stop the vehicle.">
        <a class="navlabellink nvoffset nimportant" href="/en/catalog/abarth,1969,1000,982cc+l4,1438885,brake+&amp;+wheel+hub,brake+pad,1684" id="navhref[__GIP__1__]" onclick='cataloglite.LinkIntercept_ToggleNavNode("__GIP__1__"); return false;'>
         Brake Pad
        </a>
       </td>
      </tr>
     </table>
    </div>
   </div>
   <div class="nchildren ra-hide" id="navchildren[__GIP__1__]">
   </div>
  </div>
 </body>
</html>

In [12]:
list_json = html.xpath('//input[contains(@id, "jsn[__GIP__")]/@value')

list_json

['{"groupindex":"__GIP__1__","tab":"catalog","idepth":1,"make":"ABARTH","year":"1969","model":"1000","carcode":"1438885","engine":"982cc L4","groupname":"Brake & Wheel Hub","parttype":"1684","nodetype":"parttype"}']

In [13]:
list_type_code = [json.loads(json_)['parttype'] for json_ in list_json]

list_type_code

['1684']

In [14]:
list_type = html.xpath('//td[@class="nlabel"]/a/text()')

list_type

['Brake Pad']

In [15]:
len(list_type) == 0

False

In [16]:
df_temp = pd.DataFrame({'Make No': input_.loc[a, 'Make No'],
                        'Make': input_.loc[a, 'Make'],
                        'Model No': input_.loc[a, 'Model No'],
                        'Model': input_.loc[a, 'Model'],
                        'Engine No': input_.loc[a, 'Engine No'],
                        'Engine': input_.loc[a, 'Engine'],
                        'Car Code': input_.loc[a, 'Car Code'],
                        'Year': input_.loc[a, 'Year'],
                        'Group No': input_.loc[a, 'Group No'],
                        'Group': input_.loc[a, 'Group'],
                        'Type No': [i+1 for i in range(len(list_type))],
                        'Type': list_type,
                        'Type Code': list_type_code,
                        'Tab 1 Url': [f'''https://www.rockauto.com/en/catalog/{input_.loc[a, 'Make'].replace(',', '%2C')},{input_.loc[a, 'Year']},{input_.loc[a, 'Model'].replace(',', '%2C')},{input_.loc[a, 'Engine'].replace(',', '%2C')},{input_.loc[a, 'Car Code'].replace(',', '%2C')},{input_.loc[a, 'Group'].replace(',', '%2C')},{type_.replace(',', '%2C')},{type_code.replace(',', '%2C')}''' for type_, type_code in zip(list_type, list_type_code)]})

output_correct = pd.concat([output_correct, df_temp], ignore_index=True).fillna('')

output_correct

,Make No,Make,Model No,Model,Engine No,Engine,Car Code,Year,Group No,Group,Type No,Type,Type Code,Tab 1 Url
0,1,ABARTH,1,1000,1,982cc L4,1438885,1969,1,Brake & Wheel Hub,1,Brake Pad,1684,"https://www.rockauto.com/en/catalog/ABARTH,196..."

In [17]:
crawler_status = 'ok'

crawler_status

'ok'

In [18]:
if crawler_status == 'error':
    df_temp = pd.DataFrame([{'Make No': input_.loc[a, 'Make No'],
                             'Make': input_.loc[a, 'Make'],
                             'Model No': input_.loc[a, 'Model No'],
                             'Model': input_.loc[a, 'Model'],
                             'Engine No': input_.loc[a, 'Engine No'],
                             'Engine': input_.loc[a, 'Engine'],
                             'Car Code': input_.loc[a, 'Car Code'],
                             'Year': input_.loc[a, 'Year'],
                             'Group No': input_.loc[a, 'Group No'],
                             'Group': input_.loc[a, 'Group']}])

    output_error = pd.concat([output_error, df_temp], ignore_index=True).fillna('')

output_error

Empty DataFrame
Columns: []
Index: []

In [19]:
if not output_correct.empty:
    output_correct = output_correct.sort_values(by=['Make No', 'Model No', 'Engine No', 'Year', 'Group No', 'Type No'],
                                                ascending=[True, True, True, False, True, True],
                                                ignore_index=True)
    output_correct.to_excel('./test_type_1.xlsx', index=False)

output_correct

,Make No,Make,Model No,Model,Engine No,Engine,Car Code,Year,Group No,Group,Type No,Type,Type Code,Tab 1 Url
0,1,ABARTH,1,1000,1,982cc L4,1438885,1969,1,Brake & Wheel Hub,1,Brake Pad,1684,"https://www.rockauto.com/en/catalog/ABARTH,196..."

In [20]:
if not output_error.empty:
    output_error = output_error.sort_values(by=['Make No', 'Model No', 'Engine No', 'Year', 'Group No'],
                                            ascending=[True, True, True, False, True],
                                            ignore_index=True)
    output_error.to_excel('./test_type_1_error.xlsx', index=False)

output_error

Empty DataFrame
Columns: []
Index: []