In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['No.'], ascending=[True]).reset_index(drop=True)
df.to_excel('../menu.xlsx', index=False)

df

Progress: 100%|███████████████████████████████| 2/2 [00:00<00:00, 562.09it/s]

    No.                                                Url
0     1  https://www.amazon.com/XtremeAmazing-Compresso...
1     2  https://www.amazon.com/ApplianPar-Compressor-C...
2     3  https://www.amazon.com/XtremeAmazing-Compresso...
3     4  https://www.amazon.com/Premium-Compressor-Comp...
4     5  https://www.amazon.com/Premium-Compressor-Clut...
..  ...                                                ...
95   96  https://www.amazon.com/SCITOO-Compatible-29006...
96   97  https://www.amazon.com/CoolTech-Compressor-Clu...
97   98  https://www.amazon.com/Qiilu-Transmission-Actu...
98   99  https://www.amazon.com/Compressor-BP4S61K00-CC...
99  100  https://www.amazon.com/CoolTech-Compressor-Clu...

[100 rows x 2 columns]