In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
   list_file.remove('.DS_Store')

len(list_file)

5

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(columns=['Part_Number', 'Url'])

df

Empty DataFrame
Columns: [Part_Number, Url]
Index: []

In [5]:
import json

In [6]:
for file in list_file:
    print(file)
    with open('./menu/' + file) as f:
        list_part = f.read()[1:-1].split('},{')
        for i in range(len(list_part)):
            if i == 0:
                part = json.loads(list_part[i] + '}')
            elif i == len(list_part) - 1:
                part = json.loads('{' + list_part[i])
            else:
                part = json.loads('{' + list_part[i] + '}')
                
            df_temp = pd.DataFrame([{'Part_Number': part['Part_Number'],
                                     'Url': part['Url']}])
            df = pd.concat([df, df_temp], ignore_index=True)

ecatalog.smpcorp.com_STD_#_searchparts_searchText_Turbocharger_type=p&search=s (4).txt
ecatalog.smpcorp.com_STD_#_searchparts_searchText_Turbocharger_type=p&search=s (3).txt
ecatalog.smpcorp.com_STD_#_searchparts_searchText_Turbocharger_type=p&search=s (2).txt
ecatalog.smpcorp.com_STD_#_searchparts_searchText_Turbocharger_type=p&search=s (1).txt
ecatalog.smpcorp.com_STD_#_searchparts_searchText_Turbocharger_type=p&search=s.txt

In [7]:
df.to_excel('./menu.xlsx', index=False)

df

    Part_Number                                                Url
0        U43001  https://ecatalog.smpcorp.com/STD#/vehicles/par...
1        U43002  https://ecatalog.smpcorp.com/STD#/vehicles/par...
2        U43003  https://ecatalog.smpcorp.com/STD#/vehicles/par...
3          VP29  https://ecatalog.smpcorp.com/STD#/vehicles/par...
4          VS62  https://ecatalog.smpcorp.com/STD#/vehicles/par...
..          ...                                                ...
408     TBC-518  https://ecatalog.smpcorp.com/STD#/vehicles/par...
409     TBC-519  https://ecatalog.smpcorp.com/STD#/vehicles/par...
410     TBC-520  https://ecatalog.smpcorp.com/STD#/vehicles/par...
411     TBC-521  https://ecatalog.smpcorp.com/STD#/vehicles/par...
412      TBC522  https://ecatalog.smpcorp.com/STD#/vehicles/par...

[413 rows x 2 columns]