In [1]:
import os

In [2]:
list_file = list(os.walk('./oe'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
len(list_file)

1401

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./oe/' + file, 'r', encoding='UTF-8') as f:
        list_reference = json.loads(f.read())[0]['CrossReferences']
        
        # = = = = = = = = = = = = = = =
        
        list_oe = []
        for reference in list_reference:
            if reference['referenceType'].strip() == 'OE Part':
                list_oe.append(reference['reference'].strip())

        # = = = = = = = = = = = = = = =
        
        list_oe= list(set(list_oe))
        list_oe.sort()
        
        # = = = = = = = = = = = = = = =
        
        df_temp = pd.DataFrame([{'No.': int(file.replace('.txt', '')),
                                 'OE': ';'.join(list_oe)}])
        
        # = = = = = = = = = = = = = = =
        
        df = pd.concat([df, df_temp], ignore_index=True).fillna('')
        
# = = = = = = = = = = = = = = =
        
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['No.'], ascending=[True]).reset_index(drop=True)
df.to_excel('./oe.xlsx', index=False)

df

Progress: 100%|████████████████████████| 1401/1401 [00:01<00:00, 1164.41it/s]

       No.                                OE
0        1                 22110039;22154913
1        2                          15943193
2        3                       76505SZTG01
3        4                 25795300;25864153
4        5                          15252854
...    ...                               ...
1396  1397  8971383572;8971383582;8971383583
1397  1398                           8667188
1398  1399                           8638163
1399  1400                           8693848
1400  1401                 30663891;31290787

[1401 rows x 2 columns]