In [1]:
import os
import datetime

In [2]:
list_file = list(os.walk('./'))[0][2]
for file in list_file:
    if '计算表' in file:
        calculate = file

print(f'calculate: \t{calculate}')

calculate: 	计算表-【每日断货汇报】US-Ebay 20230701.xlsx

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(calculate,
                   sheet_name='附_1统计源（含新品、清仓、新品成长）',
                   header=3,
                   usecols=[2, 3, 5, 11, 12])

df

                 MRP SKU  目标\n周销  Level   在库   在途
0           USTBC40007-C   38.90   TOP1  110  212
1          USGS06060NZ-C   40.31  TOP10   85  315
2      USTCV17215HIE-2-C   29.15   TOP1  124  273
3        USICK2A366L-8-C   20.40   TOP1   70   70
4         USBDA04108-2-C   22.03   TOP1  209  150
...                  ...     ...    ...  ...  ...
54091  USWSP8TB01S0-4-YC    1.00     普通    0    3
54092  USWSP8TB02B0-2-YC    1.00     普通    0    3
54093  USWSP8TB02B0-4-YC    5.00  TOP10    0   13
54094  USWSP8TB03B0-2-YC    1.00     普通    0    6
54095  USWSP8TB03B0-4-YC    3.00  TOP10    0   17

[54096 rows x 5 columns]

In [5]:
df = df[(df['在库']==0) & (df['在途']==0) & (df['Level']!='普通')][['MRP SKU',
                                                                   'Level',
                                                                   '目标\n周销',
                                                                   '在途']]

df

              MRP SKU  Level  目标\n周销  在途
263       USHB70308-C  TOP10    3.62   0
515         USDS76986  TOP20    4.09   0
921        USFSU17500  TOP10   13.60   0
1969     USACC68669-C  TOP10    1.22   0
3112       USTHK72462  TOP10    9.04   0
...               ...    ...     ...  ..
50018  USCVA13420-2-C  TOP20    1.70   0
50943  USICK48600-6-C  TOP20    1.70   0
51483      USCAK54290  TOP10    4.39   0
51565      USCAK00610  TOP20    0.79   0
51648      USCAK53670  TOP10    7.01   0

[147 rows x 4 columns]

In [6]:
import datetime

writer = pd.ExcelWriter('Lennon_筛选好的断货SKU_' + datetime.datetime.now().strftime("%Y%m%d_%H%M%S") + '.xlsx')
df.to_excel(writer, index=False)
writer.close()