In [1]:
import os
import datetime

In [2]:
list_file = list(os.walk('./'))[0][2]
for file in list_file:
    if '计算表' in file:
        calculate = file

print(f'calculate: \t{calculate}')

calculate: 	计算表-【每日断货汇报】US-Ebay 20230705.xlsx

In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(calculate,
                   sheet_name='附_1统计源（含新品、清仓、新品成长）',
                   header=3,
                   usecols=[2, 3, 5, 11, 12])

df

                 MRP SKU  目标\n周销  Level   在库   在途
0      USTCV17215HIE-2-C   35.48   TOP1  178  287
1           USTBC40007-C   40.30   TOP1   82  342
2            USWS02632-C   15.10  TOP10   92  176
3           USET03102H-C   22.12   TOP1   74  227
4           USWR645FRU-C   22.48   TOP1   86  374
...                  ...     ...    ...  ...  ...
54360  USWSP65517B0-4-YC    3.00  TOP10    0    9
54361  USWSP65521B1-2-YC    1.00     普通    0    3
54362  USWSP86704B0-2-YC    1.00  TOP20    0    3
54363  USWSP86704B0-4-YC    1.00  TOP20    0    3
54364  USWSP86707B0-2-YC    1.00  TOP20    0    3

[54365 rows x 5 columns]

In [5]:
df = df[(df['在库']==0) & (df['在途']==0) & (df['Level']!='普通')][['MRP SKU',
                                                                   'Level',
                                                                   '目标\n周销',
                                                                   '在途']]

df

               MRP SKU  Level  目标\n周销  在途
942         USTCA0P11C  TOP10    1.63   0
1310      USPSP20260-C  TOP20    2.88   0
1783     USSA65144-1-C  TOP20    1.13   0
1795   USCVA0KW305-2-C  TOP10    2.00   0
1822      USCVA46205-C  TOP20    1.79   0
...                ...    ...     ...  ..
51119       USCAK20987  TOP10    0.57   0
51366  USFFDOPO005T-YC  TOP20    0.34   0
51521       USCAK54290  TOP10    4.39   0
51597       USCAK00610  TOP20    0.79   0
51679       USCAK53670  TOP10    7.01   0

[148 rows x 4 columns]

In [6]:
df = df.sort_values(by=['Level', 'MRP SKU'], ascending=[True, True])

df

             MRP SKU  Level  目标\n周销  在途
40668    USADCA00400   TOP1    7.65   0
39533  USALT82470B-C   TOP1    5.87   0
38060   USCON37940-C   TOP1    6.54   0
24771   USACC68669-C  TOP10    1.22   0
38346  USALT13872B-C  TOP10    2.12   0
...              ...    ...     ...  ..
34561     USSKA61503  TOP20    0.84   0
46107     USTBC00470  TOP20    2.12   0
46243    USTF20695-C  TOP20    0.42   0
46175    USTF21045-C  TOP20    0.38   0
36864  USWHN11075-20  TOP20    2.12   0

[148 rows x 4 columns]

In [ ]:
import datetime

In [7]:
writer = pd.ExcelWriter('Lennon_筛选好的断货SKU_' + datetime.datetime.now().strftime("%Y%m%d_%H%M%S") + '.xlsx')
df.to_excel(writer, index=False)
writer.close()