In [1]:
import os

In [2]:
list_file = list(os.walk('./'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
for file in list_file:
    if '计算表' in file:
        calculate = './' + file

print('calculate:     ' + calculate)

calculate:     ./计算表-【每日断货汇报】US-Ebay 20240319.xlsx

In [8]:
import pandas as pd

In [9]:
df = pd.read_excel(calculate,
                   sheet_name='附_1统计源（含新品、清仓、新品成长）',
                   header=3,
                   usecols='C, D, F, L, M')

df[df.columns[0]] = df[df.columns[0]].astype(str)
df[df.columns[1]] = df[df.columns[1]].astype(float)
df[df.columns[2]] = df[df.columns[2]].astype(str)
df[df.columns[3]] = df[df.columns[3]].astype(int)
df[df.columns[4]] = df[df.columns[4]].astype(int)

df

                 MRP SKU  目标\n周销  Level   在库   在途
0           USOBDAD100-C   43.40  TOP20  173  549
1      USTCV17215HIE-2-C   40.50   TOP1  603  170
2          USCAK14152U-C   25.17   TOP1  142  166
3             USOBDTK100   34.00  TOP10  261    0
4           USWS02632U-C    5.13   TOP1  401    0
...                  ...     ...    ...  ...  ...
68657         USWHN11008    0.00     普通    0    0
68658         USWHN11288    0.00     普通    0    8
68659         USWHN11236    0.00     普通    0    5
68660         USWHS10547    0.00     普通    0    0
68661        USWR590RR-C    0.00     普通   86    0

[68662 rows x 5 columns]

In [10]:
import datetime

In [11]:
df = df[(df['在库'] == 0) & (df['在途'] == 0) & (df['Level'] != '普通')].reset_index(drop=True)
df = df.sort_values(by=['Level', '目标\n周销', 'MRP SKU'], ascending=[True, False, True]).reset_index(drop=True)
df['序号'] = [i+1 for i in range(len(df))]
df = df[['序号', 'MRP SKU', 'Level', '目标\n周销', '在途']]
df.columns = ['序号', 'SKU', '层级', '周销', '在途']

df.to_excel('./筛选好的断货SKU_' + datetime.datetime.now().strftime("%Y%m%d_%H%M%S") + '.xlsx', index=False)

df

      序号            SKU     层级    周销  在途
0      1   USCAK20944-C   TOP1  5.80   0
1      2     USPSK05001   TOP1  5.10   0
2      3  USSA85066-1-C   TOP1  5.10   0
3      4      USET81870   TOP1  4.67   0
4      5   USWLA77098-C   TOP1  4.49   0
..   ...            ...    ...   ...  ..
244  245    USCA49391-C  TOP20  0.00   0
245  246    USDS46500-C  TOP20  0.00   0
246  247    USDS76959-C  TOP20  0.00   0
247  248    USSTB0TE005  TOP20  0.00   0
248  249   USSTR18398-C  TOP20  0.00   0

[249 rows x 5 columns]