In [1]:
import os
import datetime

In [2]:
list_file = list(os.walk('./'))[0][2]
for file in list_file:
    if '计算表' in file:
        calculate = file

print(f'calculate: \t{calculate}')

calculate: 	计算表-【每日断货汇报】US-Ebay 20230715.xlsx

In [3]:
import pandas as pd

In [4]:
table_1 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,526.0,31.0,23.0,0.058935,0.043726,7.0,0.013308
1,TOP10,2714.0,139.0,207.0,0.051216,0.076271,58.0,0.021371
2,TOP20,3403.0,254.0,293.0,0.074640,0.086100,133.0,0.039083
3,普通,48156.0,2585.0,7604.0,0.053680,0.157903,1521.0,0.031585
4,总数,54799.0,3009.0,8127.0,0.054910,0.148306,1719.0,0.031369

In [5]:
table_2 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）   断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1      31.0     4.0  0.129032       23.0     0.0  0.000000
1  TOP10     139.0    47.0  0.338129      207.0    30.0  0.144928
2  TOP20     254.0   122.0  0.480315      293.0   103.0  0.351536
3     普通    2585.0  1077.0  0.416634     7604.0  3345.0  0.439900
4     总数    3009.0  1250.0  0.415420     8127.0  3478.0  0.427956

In [6]:
table_3 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W23\n06/06,W23\n06/09,W24\n06/17,W26\n07/01,W27\n07/05,W27\n07/07,W28\n07/12,W28\n07/15
0,TOP1,26.0,29.0,28.0,31.0,32.0,29.0,31.0,31.0
1,TOP10,166.0,176.0,202.0,139.0,175.0,158.0,140.0,139.0
2,TOP20,223.0,218.0,262.0,241.0,253.0,247.0,246.0,254.0
3,普通,2583.0,2601.0,2586.0,2513.0,2577.0,2394.0,2506.0,2585.0
4,总数,2998.0,3024.0,3078.0,2924.0,3037.0,2828.0,2923.0,3009.0

In [7]:
table_4 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(28, 33)],
                        index_col=0)

table_4

         品类  断货SKU数量  总SKU数      断货占比
排名
TOP1     BC      314   2827  0.111072
TOP2     CA      243   4746  0.051201
TOP3    CVA      136   2040  0.066667
TOP4     WR      118   1996  0.059118
TOP5    ACH      117   1685  0.069436
...     ...      ...    ...       ...
TOP416  CST        0     60  0.000000
TOP417  EGR        0     82  0.000000
TOP418  ACS        0     94  0.000000
TOP419  SCS        0    157  0.000000
TOP420  WSP        0    352  0.000000

[420 rows x 4 columns]

In [8]:
sheet_2_left = pd.read_excel(calculate,
                             sheet_name='2_断货SKU',
                             header=1,
                             usecols=[i for i in range(5)],
                             index_col=0)

sheet_2_left

                SKU     层级     周销  在途
序号
1       USADCA00400   TOP1   7.65   0
2      USCON37940-C   TOP1   6.54   0
3    USCVA63720LR-C   TOP1   8.50   0
4        USTBC00291   TOP1  11.05   0
5     USALT13872B-C  TOP10   2.12   0
..              ...    ...    ...  ..
170     USTF21045-C  TOP20   1.70   0
171   USWHN11075-20  TOP20   2.12   0
172   USWHN11076-10  TOP20   1.08   0
173   USWHN11076-20  TOP20   1.10   0
174     USWS803AC-C  TOP20   2.78   0

[174 rows x 4 columns]

In [9]:
sheet_2_right = pd.read_excel(calculate,
                              sheet_name='2_断货SKU',
                              header=1,
                              usecols=[i for i in range(7, 9)],
                              index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

         断货数
品类去重
CVA     64.0
CA      27.0
BMC      7.0
SA       5.0
ALT      4.0
BC       4.0
CON      4.0
DS       4.0
TBC      3.0
WHN      3.0
TF       3.0
BRPS     3.0
PSR      3.0
FI       3.0
CS-弹簧    3.0
FSU      2.0
HB       2.0
AEC      2.0
FF       2.0
EM       2.0
WP       1.0
THK      1.0
ICK      1.0
THB      1.0
TCA      1.0
TBK      1.0
STW      1.0
SKA      1.0
PST      1.0
PSP      1.0
PBB      1.0
AST      1.0
HMB      1.0
HLP      1.0
FPB      1.0
FP       1.0
DLA      1.0
DIF      1.0
CA-控制臂   1.0
BT       1.0
BDA      1.0
ADCA     1.0
ACH      1.0
WS       1.0

In [10]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(round(table_1.loc[4, '断货率']*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(round(max(table_1['断货率'])*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(round(max(table_1['干预率'])*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

3009; 5.49%; TOP20; 7.46%; 普通; 15.79%

= = = = = = = = = = = = = = = = = =

174; CVA; CA; BMC; 64; 27; 7

= = = = = = = = = = = = = = = = = =

4

In [11]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(round(table_2.loc[4, '占比']*100, 2)) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(round(table_2.loc[4, '占比.1']*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

3009; 1250; 41.54%; 8127; 3478; 42.8%

= = = = = = = = = = = = = = = = = =

23; 0

In [12]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 0
TOP10: -1
TOP20: 8
普通: 79

In [13]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(round(max(table_4['断货占比'][:10])*100, 2)) + '%')

BC; 314

= = = = = = = = = = = = = = = = = =

ALT; 654; ALT; 79; 12.08%

In [ ]:
共23款TOP1层级SKU库存1-2，且有1款无在途。

In [14]:
（1）W27周（07/07）断货整体比W27周（07/05）有所下降，其中普通层级断货下降最多，达183款；
        （2）在重点SKU（TOP1、TOP10、TOP20）中，TOP10断货下降最多，达17款。

SyntaxError: invalid character '（' (U+FF08) (3731123135.py, line 1)

In [ ]:
   （1）与W24周（06/17）相比，W26周（07/01）TOP1断货有所上升，达3款；
        （2）TOP10、TOP20和普通层级断货有所下降，其中普通层级断货下降最多，达73款。