In [1]:
import os
import datetime

In [2]:
list_file = list(os.walk('./'))[0][2]
for file in list_file:
    if '计算表' in file:
        calculate = file

print(f'calculate: \t{calculate}')

calculate: 	计算表-【每日断货汇报】US-Ebay 20230712.xlsx

In [3]:
import pandas as pd

In [4]:
table_1 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,526.0,31.0,21.0,0.058935,0.039924,7.0,0.013308
1,TOP10,2714.0,140.0,176.0,0.051584,0.064849,68.0,0.025055
2,TOP20,3403.0,246.0,274.0,0.072289,0.080517,154.0,0.045254
3,普通,48156.0,2506.0,7477.0,0.052039,0.155266,1685.0,0.034990
4,总数,54799.0,2923.0,7948.0,0.053340,0.145039,1914.0,0.034928

In [5]:
table_2 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）   断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1      31.0     3.0  0.096774       21.0     1.0  0.047619
1  TOP10     140.0    44.0  0.314286      176.0    30.0  0.170455
2  TOP20     246.0   119.0  0.483740      274.0    96.0  0.350365
3     普通    2506.0   998.0  0.398244     7477.0  3143.0  0.420356
4     总数    2923.0  1164.0  0.398221     7948.0  3270.0  0.411424

In [6]:
table_3 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W22\n06/03,W23\n06/06,W23\n06/09,W24\n06/17,W26\n07/01,W27\n07/05,W27\n07/07,W28\n07/12
0,TOP1,20.0,26.0,29.0,28.0,31.0,32.0,29.0,31.0
1,TOP10,128.0,166.0,176.0,202.0,139.0,175.0,158.0,140.0
2,TOP20,191.0,223.0,218.0,262.0,241.0,253.0,247.0,246.0
3,普通,2480.0,2583.0,2601.0,2586.0,2513.0,2577.0,2394.0,2506.0
4,总数,2819.0,2998.0,3024.0,3078.0,2924.0,3037.0,2828.0,2923.0

In [7]:
table_4 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(28, 33)],
                        index_col=0)

table_4

         品类  断货SKU数量  总SKU数      断货占比
排名
TOP1     BC      301   2827  0.106473
TOP2     CA      235   4746  0.049515
TOP3    CVA      134   2040  0.065686
TOP4     WR      122   1996  0.061122
TOP5    ACH      107   1685  0.063501
...     ...      ...    ...       ...
TOP416   SS        0     72  0.000000
TOP417  EGR        0     82  0.000000
TOP418  ACS        0     94  0.000000
TOP419  SCS        0    157  0.000000
TOP420  WSP        0    352  0.000000

[420 rows x 4 columns]

In [8]:
sheet_2_left = pd.read_excel(calculate,
                             sheet_name='2_断货SKU',
                             header=1,
                             usecols=[i for i in range(5)],
                             index_col=0)

sheet_2_left

               SKU     层级     周销  在途
序号
1      USADCA00400   TOP1   7.65   0
2     USCON37940-C   TOP1   6.54   0
3       USTBC00291   TOP1  11.05   0
4    USALT13872B-C  TOP10   2.12   0
5    USALT84370B-C  TOP10   1.72   0
..             ...    ...    ...  ..
163    USTF21045-C  TOP20   1.70   0
164  USWHN11075-20  TOP20   2.12   0
165  USWHN11076-10  TOP20   1.08   0
166  USWHN11076-20  TOP20   1.10   0
167    USWS803AC-C  TOP20   2.78   0

[167 rows x 4 columns]

In [9]:
sheet_2_right = pd.read_excel(calculate,
                              sheet_name='2_断货SKU',
                              header=1,
                              usecols=[i for i in range(7, 9)],
                              index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

         断货数
品类去重
CVA     63.0
CA      26.0
BMC      6.0
SA       5.0
ALT      4.0
CON      4.0
DS       4.0
BC       3.0
CS-弹簧    3.0
FI       3.0
PSR      3.0
TF       3.0
WHN      3.0
FSU      2.0
TBC      2.0
HB       2.0
FF       2.0
EM       2.0
BRPS     2.0
ICK      1.0
WP       1.0
THK      1.0
THB      1.0
TCA      1.0
TBK      1.0
STW      1.0
SKA      1.0
PST      1.0
PSP      1.0
PBB      1.0
MI       1.0
AST      1.0
HMB      1.0
FPB      1.0
FP       1.0
DLA      1.0
DIF      1.0
CA-控制臂   1.0
BT       1.0
BDA      1.0
AEC      1.0
ADCA     1.0
ACH      1.0
WS       1.0

In [10]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(round(table_1.loc[4, '断货率']*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(round(max(table_1['断货率'])*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(round(max(table_1['干预率'])*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

2923; 5.33%; TOP20; 7.23%; 普通; 15.53%

= = = = = = = = = = = = = = = = = =

167; CVA; CA; BMC; 63; 26; 6

= = = = = = = = = = = = = = = = = =

3

In [11]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(round(table_2.loc[4, '占比']*100, 2)) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(round(table_2.loc[4, '占比.1']*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

2923; 1164; 39.82%; 7948; 3270; 41.14%

= = = = = = = = = = = = = = = = = =

21; 1

In [12]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 2
TOP10: -18
TOP20: -1
普通: 112

In [13]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(round(max(table_4['断货占比'][:10])*100, 2)) + '%')

BC; 301

= = = = = = = = = = = = = = = = = =

ALT; 654; ALT; 78; 11.93%

In [ ]:
（1）W27周（07/07）断货整体比W27周（07/05）有所下降，其中普通层级断货下降最多，达183款；
        （2）在重点SKU（TOP1、TOP10、TOP20）中，TOP10断货下降最多，达17款。

In [ ]:
   （1）与W24周（06/17）相比，W26周（07/01）TOP1断货有所上升，达3款；
        （2）TOP10、TOP20和普通层级断货有所下降，其中普通层级断货下降最多，达73款。