In [1]:
import os
import datetime

In [2]:
list_file = list(os.walk('./'))[0][2]
for file in list_file:
    if '计算表' in file:
        calculate = file

print(f'calculate: \t{calculate}')

calculate: 	计算表-【每日断货汇报】US-Ebay 20230822.xlsx

In [3]:
import pandas as pd

In [4]:
table_1 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,512.0,33.0,28.0,0.064453,0.054688,10.0,0.019531
1,TOP10,1308.0,62.0,60.0,0.047401,0.045872,22.0,0.016820
2,TOP20,4435.0,322.0,377.0,0.072604,0.085006,111.0,0.025028
3,普通,50270.0,3121.0,8075.0,0.062085,0.160633,1981.0,0.039407
4,总数,56525.0,3538.0,8540.0,0.062592,0.151084,2124.0,0.037576

In [5]:
table_2 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）   断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1      33.0     4.0  0.121212       28.0     2.0  0.071429
1  TOP10      62.0    16.0  0.258065       60.0    14.0  0.233333
2  TOP20     322.0    59.0  0.183230      377.0    75.0  0.198939
3     普通    3121.0  1084.0  0.347325     8075.0  3436.0  0.425511
4     总数    3538.0  1163.0  0.328717     8540.0  3527.0  0.412998

In [6]:
table_3 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W30\n07/29,W31\n08/03,W31\n08/04,W32\n08/08,W32\n08/10,W33\n08/15,W33\n08/18,W34\n08/22
0,TOP1,33.0,31.0,32.0,33.0,36.0,24.0,32.0,33.0
1,TOP10,73.0,78.0,82.0,77.0,74.0,66.0,71.0,62.0
2,TOP20,321.0,300.0,308.0,297.0,286.0,269.0,284.0,322.0
3,普通,2871.0,2716.0,2722.0,2870.0,2717.0,2855.0,2811.0,3121.0
4,总数,3298.0,3125.0,3144.0,3277.0,3113.0,3214.0,3198.0,3538.0

In [7]:
table_4 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(28, 33)],
                        index_col=0)

table_4

         品类  断货SKU数量  总SKU数      断货占比
排名
TOP1     BC      389   2889  0.134649
TOP2     CA      238   4783  0.049760
TOP3    CVA      177   2074  0.085342
TOP4    ACH      155   1696  0.091392
TOP5     WR      153   2050  0.074634
...     ...      ...    ...       ...
TOP426   SP        0     84  0.000000
TOP427  ACS        0     94  0.000000
TOP428  PAS        0     95  0.000000
TOP429  CLK        0    145  0.000000
TOP430  SCS        0    169  0.000000

[430 rows x 4 columns]

In [8]:
sheet_2_left = pd.read_excel(calculate,
                             sheet_name='2_断货SKU',
                             header=1,
                             usecols=[i for i in range(5)],
                             index_col=0)

sheet_2_left

              SKU     层级    周销  在途
序号
1    USACC98315-C   TOP1  1.76   0
2    USCON32370-C   TOP1  6.80   0
3    USPBB27358-C   TOP1  1.49   0
4    USPSR221014G   TOP1  2.62   0
5    USACC29043-C  TOP10  4.25   0
..            ...    ...   ...  ..
75      USSS00004  TOP20  0.00   0
76   USSTR30639-C  TOP20  1.70   0
77  USSTR66760B-C  TOP20  3.40   0
78  USWHN11094-20  TOP20  2.12   0
79  USWHN11288-12  TOP20  0.10   0

[79 rows x 4 columns]

In [9]:
sheet_2_right = pd.read_excel(calculate,
                              sheet_name='2_断货SKU',
                              header=1,
                              usecols=[i for i in range(7, 9)],
                              index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

        断货数
品类去重
CVA    10.0
ACC     8.0
DS      6.0
BMC     4.0
CS-弹簧   4.0
SA      4.0
ALT     3.0
CA      3.0
STR     3.0
PSR     2.0
WHN     2.0
OC      2.0
HB      2.0
CON     2.0
ACH     2.0
EM      1.0
SS      1.0
SKA     1.0
PSC     1.0
PHLS    1.0
PBB     1.0
LGH     1.0
FSU     1.0
FP      1.0
FF      1.0
BRPS    1.0
EGC     1.0
EAF     1.0
DLA     1.0
DIF     1.0
DAM     1.0
CTP     1.0
CA-套件   1.0
BHH     1.0
BC      1.0
ADCA    1.0
TBK     1.0

In [10]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(round(table_1.loc[4, '断货率']*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(round(max(table_1['断货率'])*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(round(max(table_1['干预率'])*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

3538; 6.26%; TOP20; 7.26%; 普通; 16.06%

= = = = = = = = = = = = = = = = = =

79; CVA; ACC; DS; 10; 8; 6

= = = = = = = = = = = = = = = = = =

4

In [11]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(round(table_2.loc[4, '占比']*100, 2)) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(round(table_2.loc[4, '占比.1']*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

3538; 1163; 32.87%; 8540; 3527; 41.3%

= = = = = = = = = = = = = = = = = =

28; 2

In [12]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 1
TOP10: -9
TOP20: 38
普通: 310

In [13]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(round(max(table_4['断货占比'][:10])*100, 2)) + '%')

BC; 389

= = = = = = = = = = = = = = = = = =

ALT; 658; ALT; 94; 14.29%

In [14]:
共23款TOP1层级SKU库存1-2，且有1款无在途。

SyntaxError: invalid decimal literal (150014678.py, line 1)

In [ ]:
（1）与W24周（06/17）相比，W26周（07/01）TOP1断货有所上升，达3款；
（2）TOP10、TOP20和普通层级断货有所下降，其中普通层级断货下降最多，达73款。

In [ ]:
（1）W27周（07/07）断货整体比W27周（07/05）有所下降，其中普通层级断货下降最多，达183款；
（2）在重点SKU（TOP1、TOP10、TOP20）中，TOP10断货下降最多，达17款。