In [1]:
import requests

import sys
sys.path.append('../00.Tools')
from crawler_configuration import get_header, get_proxy

b = 0
while True:
    b += 1
    print(b)
    try:
        resp = requests.get('https://www.auveco.com/store_ss2/extensions/UnlockCommerce/YearMakeModel/1.0.0/Modules/YearMakeModel/SuiteScript2/YearMakeModel.Service.ss?action=initymm',
                            headers=get_header(),
                            proxies=get_proxy(),
                            timeout=(10, 10))
        
        if resp.status_code == 200:
            json_ = resp.json()

            list_year_code = [dict_['yearId'] if dict_['yearId'] else '' for dict_ in json_]
            while '' in list_year_code:
                list_year_code.remove('')
            list_year = [int(dict_['year'].strip()) if dict_['year'] else '' for dict_ in json_]
            while '' in list_year:
                list_year.remove('')
            if list_year:
                break
    except KeyboardInterrupt:
        break
    except:
        continue

json_

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

[{'yearId': 70, 'year': '1956'},
 {'yearId': 69, 'year': '1957'},
 {'yearId': 68, 'year': '1958'},
 {'yearId': 67, 'year': '1959'},
 {'yearId': 66, 'year': '1960'},
 {'yearId': 65, 'year': '1961'},
 {'yearId': 64, 'year': '1962'},
 {'yearId': 63, 'year': '1963'},
 {'yearId': 62, 'year': '1964'},
 {'yearId': 61, 'year': '1965'},
 {'yearId': 60, 'year': '1966'},
 {'yearId': 59, 'year': '1967'},
 {'yearId': 58, 'year': '1968'},
 {'yearId': 57, 'year': '1969'},
 {'yearId': 56, 'year': '1970'},
 {'yearId': 55, 'year': '1971'},
 {'yearId': 54, 'year': '1972'},
 {'yearId': 53, 'year': '1973'},
 {'yearId': 52, 'year': '1974'},
 {'yearId': 51, 'year': '1975'},
 {'yearId': 50, 'year': '1976'},
 {'yearId': 49, 'year': '1977'},
 {'yearId': 48, 'year': '1978'},
 {'yearId': 47, 'year': '1979'},
 {'yearId': 46, 'year': '1980'},
 {'yearId': 45, 'year': '1981'},
 {'yearId': 44, 'year': '1982'},
 {'yearId': 42, 'year': '1983'},
 {'yearId': 41, 'year': '1984'},
 {'yearId': 1, 'year': '1985'},
 {'yearId': 2, 'year': '1986'},
 {'yearId': 3, 'year': '1987'},
 {'yearId': 4, 'year': '1988'},
 {'yearId': 5, 'year': '1989'},
 {'yearId': 6, 'year': '1990'},
 {'yearId': 7, 'year': '1991'},
 {'yearId': 8, 'year': '1992'},
 {'yearId': 9, 'year': '1993'},
 {'yearId': 10, 'year': '1994'},
 {'yearId': 11, 'year': '1995'},
 {'yearId': 12, 'year': '1996'},
 {'yearId': 13, 'year': '1997'},
 {'yearId': 14, 'year': '1998'},
 {'yearId': 15, 'year': '1999'},
 {'yearId': 16, 'year': '2000'},
 {'yearId': 17, 'year': '2001'},
 {'yearId': 18, 'year': '2002'},
 {'yearId': 19, 'year': '2003'},
 {'yearId': 20, 'year': '2004'},
 {'yearId': 21, 'year': '2005'},
 {'yearId': 22, 'year': '2006'},
 {'yearId': 23, 'year': '2007'},
 {'yearId': 24, 'year': '2008'},
 {'yearId': 25, 'year': '2009'},
 {'yearId': 26, 'year': '2010'},
 {'yearId': 27, 'year': '2011'},
 {'yearId': 28, 'year': '2012'},
 {'yearId': 29, 'year': '2013'},
 {'yearId': 30, 'year': '2014'},
 {'yearId': 31, 'year': '2015'},
 {'yearId': 32, 'year': '2016'},
 {'yearId': 33, 'year': '2017'},
 {'yearId': 34, 'year': '2018'},
 {'yearId': 35, 'year': '2019'},
 {'yearId': 36, 'year': '2020'},
 {'yearId': 37, 'year': '2021'},
 {'yearId': 38, 'year': '2022'},
 {'yearId': 39, 'year': '2023'},
 {'yearId': 40, 'year': '2024'}]

In [2]:
import pandas as pd

output = pd.DataFrame({'Year': list_year,
                       'Year Code': list_year_code})

output = output.sort_values(by=['Year'],
                            ascending=[False],
                            ignore_index=True)
output.to_excel('./file/1.year.xlsx', index=False)

output

    Year  Year Code
0   2024         40
1   2023         39
2   2022         38
3   2021         37
4   2020         36
..   ...        ...
64  1960         66
65  1959         67
66  1958         68
67  1957         69
68  1956         70

[69 rows x 2 columns]