In [1]:
import pandas as pd

output_correct, output_error = pd.DataFrame(), pd.DataFrame()

In [2]:
input_ = pd.read_excel(f'./file/1.year.xlsx',
                       header=0,
                       dtype=str).fillna('')

input_['Year'] = input_['Year'].astype(int)
input_['Year Code'] = input_['Year Code'].astype(int)

print(f'总数量：{len(input_)}')
input_['Year'].tolist()

总数量：69

[2024,
 2023,
 2022,
 2021,
 2020,
 2019,
 2018,
 2017,
 2016,
 2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000,
 1999,
 1998,
 1997,
 1996,
 1995,
 1994,
 1993,
 1992,
 1991,
 1990,
 1989,
 1988,
 1987,
 1986,
 1985,
 1984,
 1983,
 1982,
 1981,
 1980,
 1979,
 1978,
 1977,
 1976,
 1975,
 1974,
 1973,
 1972,
 1971,
 1970,
 1969,
 1968,
 1967,
 1966,
 1965,
 1964,
 1963,
 1962,
 1961,
 1960,
 1959,
 1958,
 1957,
 1956]

In [3]:
a = 0

a

0

In [4]:
crawler_status = 'error'

crawler_status

'error'

In [5]:
import requests

import sys
sys.path.append('../00.Tools')
from crawler_configuration import get_header, get_proxy

b = 0
while True:
    b += 1
    print(b)
    try:
        resp = requests.get(f'''https://www.auveco.com/store_ss2/extensions/UnlockCommerce/YearMakeModel/1.0.0/Modules/YearMakeModel/SuiteScript2/YearMakeModel.Service.ss?action=getmakes&year={input_.loc[a, 'Year Code']}''',
                            headers=get_header(),
                            proxies=get_proxy(),
                            timeout=(10, 10))

        if resp.status_code == 200:
            json_ = resp.json()

            list_make_code = [dict_['makeId'] if dict_['makeId'] else '' for dict_ in json_]
            while '' in list_make_code:
                list_make_code.remove('')
            list_make = [dict_['make'] if dict_['make'] else '' for dict_ in json_]
            while '' in list_make:
                list_make.remove('')
            if list_make:
                break
    except KeyboardInterrupt:
        break
    except:
        continue

json_

1

[{'makeId': 3, 'make': 'FORD'}, {'makeId': 59, 'make': 'KIA'}]

In [6]:
df_temp = pd.DataFrame({'Make': list_make,
                        'Make Code': list_make_code,
                        'Year': input_.loc[a, 'Year'],
                        'Year Code': input_.loc[a, 'Year Code']})

output_correct = pd.concat([output_correct, df_temp], ignore_index=True).fillna('')

output_correct

   Make  Make Code  Year  Year Code
0  FORD          3  2024         40
1   KIA         59  2024         40

In [7]:
crawler_status = 'ok'

crawler_status

'ok'

In [8]:
if crawler_status == 'error':
    output_error = pd.concat([output_error, pd.DataFrame([input_.iloc[a]]).reset_index(drop=True)], ignore_index=True).fillna('')

output_error

Empty DataFrame
Columns: []
Index: []

In [9]:
if not output_correct.empty:
    output_correct = output_correct.sort_values(by=['Make', 'Year'],
                                                ascending=[True, False],
                                                ignore_index=True)
    output_correct.to_excel('./test_make.xlsx', index=False)

output_correct

   Make  Make Code  Year  Year Code
0  FORD          3  2024         40
1   KIA         59  2024         40

In [10]:
if not output_error.empty:
    output_error = output_error.sort_values(by=['Year'],
                                            ascending=[False],
                                            ignore_index=True)
    output_error.to_excel('./test_make_error.xlsx', index=False)

output_error

Empty DataFrame
Columns: []
Index: []