In [3]:
import requests

import sys
sys.path.append('../00.Tools')
import UA
import Proxy

In [4]:
a = 0

resp = requests.get('https://www.moogparts.com/driv/partfinder/api.catalog.years?brand=fllj&locale=en_US&country_code=US&vehicle_group_ids=2',
                    headers=UA.get_User_Agent_Requests(),
                    proxies=Proxy.get_Proxy_Requests()).text

resp

'{"years":[{"id":2024,"value":"2024"},{"id":2023,"value":"2023"},{"id":2022,"value":"2022"},{"id":2021,"value":"2021"},{"id":2020,"value":"2020"},{"id":2019,"value":"2019"},{"id":2018,"value":"2018"},{"id":2017,"value":"2017"},{"id":2016,"value":"2016"},{"id":2015,"value":"2015"},{"id":2014,"value":"2014"},{"id":2013,"value":"2013"},{"id":2012,"value":"2012"},{"id":2011,"value":"2011"},{"id":2010,"value":"2010"},{"id":2009,"value":"2009"},{"id":2008,"value":"2008"},{"id":2007,"value":"2007"},{"id":2006,"value":"2006"},{"id":2005,"value":"2005"},{"id":2004,"value":"2004"},{"id":2003,"value":"2003"},{"id":2002,"value":"2002"},{"id":2001,"value":"2001"},{"id":2000,"value":"2000"},{"id":1999,"value":"1999"},{"id":1998,"value":"1998"},{"id":1997,"value":"1997"},{"id":1996,"value":"1996"},{"id":1995,"value":"1995"},{"id":1994,"value":"1994"},{"id":1993,"value":"1993"},{"id":1992,"value":"1992"},{"id":1991,"value":"1991"},{"id":1990,"value":"1990"},{"id":1989,"value":"1989"},{"id":1988,"value":"1988"},{"id":1987,"value":"1987"},{"id":1986,"value":"1986"},{"id":1985,"value":"1985"},{"id":1984,"value":"1984"},{"id":1983,"value":"1983"},{"id":1982,"value":"1982"},{"id":1981,"value":"1981"},{"id":1980,"value":"1980"},{"id":1979,"value":"1979"},{"id":1978,"value":"1978"}]}'

In [5]:
import json

In [6]:
json_data = json.loads(resp)

json_data

{'years': [{'id': 2024, 'value': '2024'},
  {'id': 2023, 'value': '2023'},
  {'id': 2022, 'value': '2022'},
  {'id': 2021, 'value': '2021'},
  {'id': 2020, 'value': '2020'},
  {'id': 2019, 'value': '2019'},
  {'id': 2018, 'value': '2018'},
  {'id': 2017, 'value': '2017'},
  {'id': 2016, 'value': '2016'},
  {'id': 2015, 'value': '2015'},
  {'id': 2014, 'value': '2014'},
  {'id': 2013, 'value': '2013'},
  {'id': 2012, 'value': '2012'},
  {'id': 2011, 'value': '2011'},
  {'id': 2010, 'value': '2010'},
  {'id': 2009, 'value': '2009'},
  {'id': 2008, 'value': '2008'},
  {'id': 2007, 'value': '2007'},
  {'id': 2006, 'value': '2006'},
  {'id': 2005, 'value': '2005'},
  {'id': 2004, 'value': '2004'},
  {'id': 2003, 'value': '2003'},
  {'id': 2002, 'value': '2002'},
  {'id': 2001, 'value': '2001'},
  {'id': 2000, 'value': '2000'},
  {'id': 1999, 'value': '1999'},
  {'id': 1998, 'value': '1998'},
  {'id': 1997, 'value': '1997'},
  {'id': 1996, 'value': '1996'},
  {'id': 1995, 'value': '1995'},
  {'id': 1994, 'value': '1994'},
  {'id': 1993, 'value': '1993'},
  {'id': 1992, 'value': '1992'},
  {'id': 1991, 'value': '1991'},
  {'id': 1990, 'value': '1990'},
  {'id': 1989, 'value': '1989'},
  {'id': 1988, 'value': '1988'},
  {'id': 1987, 'value': '1987'},
  {'id': 1986, 'value': '1986'},
  {'id': 1985, 'value': '1985'},
  {'id': 1984, 'value': '1984'},
  {'id': 1983, 'value': '1983'},
  {'id': 1982, 'value': '1982'},
  {'id': 1981, 'value': '1981'},
  {'id': 1980, 'value': '1980'},
  {'id': 1979, 'value': '1979'},
  {'id': 1978, 'value': '1978'}]}

In [7]:
df = pd.DataFrame({'Year_Id': [year['id'] for year in json_data['years']],
                   'Year': [year['value'] for year in json_data['years']]})

df.to_excel('./year.xlsx', index=False)

df

    Year_Id  Year
0      2024  2024
1      2023  2023
2      2022  2022
3      2021  2021
4      2020  2020
5      2019  2019
6      2018  2018
7      2017  2017
8      2016  2016
9      2015  2015
10     2014  2014
11     2013  2013
12     2012  2012
13     2011  2011
14     2010  2010
15     2009  2009
16     2008  2008
17     2007  2007
18     2006  2006
19     2005  2005
20     2004  2004
21     2003  2003
22     2002  2002
23     2001  2001
24     2000  2000
25     1999  1999
26     1998  1998
27     1997  1997
28     1996  1996
29     1995  1995
30     1994  1994
31     1993  1993
32     1992  1992
33     1991  1991
34     1990  1990
35     1989  1989
36     1988  1988
37     1987  1987
38     1986  1986
39     1985  1985
40     1984  1984
41     1983  1983
42     1982  1982
43     1981  1981
44     1980  1980
45     1979  1979
46     1978  1978