- Update: 2023.05.09

In [1]:
import os
import datetime

In [2]:
list_file = list(os.walk('./'))[0][2]
for file in list_file:
    if '计算表' in file:
        calculate = file

print(f'calculate: \t{calculate}')

calculate: 	计算表-【每日断货汇报】US-Ebay 20230509.xlsx

In [3]:
import pandas as pd

In [4]:
table_1 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,493.0,38.0,23.0,0.077079,0.046653,12.0,0.024341
1,TOP10,2237.0,166.0,170.0,0.074207,0.075995,67.0,0.029951
2,TOP20,3329.0,188.0,228.0,0.056473,0.068489,101.0,0.030339
3,普通,46287.0,2137.0,5845.0,0.046168,0.126277,1121.0,0.024218
4,总数,52346.0,2529.0,6266.0,0.048313,0.119704,1301.0,0.024854

In [5]:
table_2 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）  断货无在途        占比  在库1-2（干预）   干预无在途      占比.1
0   TOP1      38.0    7.0  0.184211       23.0     0.0  0.000000
1  TOP10     166.0   49.0  0.295181      170.0    19.0  0.111765
2  TOP20     188.0   76.0  0.404255      228.0    89.0  0.390351
3     普通    2137.0  786.0  0.367805     5845.0  2649.0  0.453208
4     总数    2529.0  918.0  0.362989     6266.0  2757.0  0.439994

In [6]:
table_3 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W14\n04/04,W14\n04/08,W15\n04/14,W16\n04/18,W16\n04/22,W17\n04/25,W18\n05/06,W19\n05/09
0,TOP1,68.0,55.0,59.0,58.0,43.0,35.0,32.0,38.0
1,TOP10,63.0,57.0,66.0,193.0,166.0,152.0,150.0,166.0
2,TOP20,369.0,362.0,311.0,165.0,139.0,143.0,171.0,188.0
3,普通,2526.0,2648.0,2508.0,2404.0,2357.0,2297.0,2026.0,2137.0
4,总数,3026.0,3122.0,2944.0,2820.0,2705.0,2627.0,2379.0,2529.0

In [7]:
table_4 = pd.read_excel(calculate,
                        sheet_name='1_断货数据分析',
                        header=1,
                        usecols=[i for i in range(28, 33)],
                        index_col=0)

table_4

         品类  断货SKU数量  总SKU数      断货占比
排名
TOP1     BC      258   2795  0.092308
TOP2     CA      175   4704  0.037202
TOP3     HB      115   1111  0.103510
TOP4    ALT      105    644  0.163043
TOP5     WR       97   1898  0.051106
...     ...      ...    ...       ...
TOP402  MSA        0     62  0.000000
TOP403   FM        0     73  0.000000
TOP404  CHH        0     79  0.000000
TOP405  EGR        0     82  0.000000
TOP406  ACS        0     94  0.000000

[406 rows x 4 columns]

In [8]:
sheet_2_left = pd.read_excel(calculate,
                             sheet_name='2_断货SKU',
                             header=1,
                             usecols=[i for i in range(5)],
                             index_col=0)

sheet_2_left

               SKU     层级    周销  在途
序号
1      USADCA00400   TOP1  7.65   0
2    USALT11532B-C   TOP1  1.15   0
3    USALT14489B-C   TOP1  3.40   0
4    USALT82470B-C   TOP1  5.87   0
5     USCON30085-C   TOP1  4.25   0
..             ...    ...   ...  ..
128      USWL00307  TOP20  0.55   0
129      USWP01840  TOP20  1.70   0
130      USWR49322  TOP20  1.27   0
131      USWR49323  TOP20  2.46   0
132    USWR51797-C  TOP20  4.12   0

[132 rows x 4 columns]

In [9]:
sheet_2_right = pd.read_excel(calculate,
                              sheet_name='2_断货SKU',
                              header=1,
                              usecols=[i for i in range(7, 9)],
                              index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

        断货数
品类去重
CVA    16.0
ALT    15.0
CA     12.0
BMC     9.0
CON     8.0
STR     7.0
PSR     6.0
SA      6.0
CS-弹簧   4.0
RAD     4.0
TBC     3.0
WR      3.0
TF      3.0
MI      3.0
BRPS    3.0
BC      3.0
AST     2.0
EM      2.0
FF      2.0
ICK     1.0
WL      1.0
VLT     1.0
THA     1.0
TCV     1.0
TCK     1.0
SKA     1.0
PSH     1.0
OS      1.0
OC      1.0
BRPR    1.0
IC      1.0
HCR     1.0
HB      1.0
FPB     1.0
FLW     1.0
ET      1.0
EMD     1.0
EAF     1.0
ADCA    1.0
WP      1.0

In [10]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(round(table_1.loc[4, '断货率']*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(round(max(table_1['断货率'])*100, 2)) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(round(max(table_1['干预率'])*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

2529; 4.83%; TOP1; 7.71%; 普通; 12.63%

= = = = = = = = = = = = = = = = = =

132; CVA; ALT; CA; 16; 15; 12

= = = = = = = = = = = = = = = = = =

7

In [11]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(round(table_2.loc[4, '占比']*100, 2)) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(round(table_2.loc[4, '占比.1']*100, 2)) + '%')
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

2529; 918; 36.3%; 6266; 2757; 44.0%

= = = = = = = = = = = = = = = = = =

23; 0

In [12]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: 6
TOP10: 16
TOP20: 17
普通: 111

In [13]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print()
print('= = = = = = = = = = = = = = = = = =')
print()
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(round(max(table_4['断货占比'][:10])*100, 2)) + '%')

BC; 258

= = = = = = = = = = = = = = = = = =

STR; 398; STR; 66; 16.58%