In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./menu.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
 
df = df[['Url', 'No.', 'Part_Number']]
    
df.to_excel('./menu.xlsx', index=False)

df

                                                   Url  No. Part_Number
0    https://www.rockauto.com/en/parts/airtex,AW102...    1     AW1028H
1    https://www.rockauto.com/en/parts/airtex,AW106...    2      AW1069
2    https://www.rockauto.com/en/parts/airtex,AW109...    3      AW1099
3    https://www.rockauto.com/en/parts/airtex,AW112...    4     AW1120H
4    https://www.rockauto.com/en/parts/airtex,AW112...    5      AW1127
..                                                 ...  ...         ...
346  https://www.rockauto.com/en/parts/airtex,AW949...  347      AW9496
347  https://www.rockauto.com/en/parts/airtex,AW953...  348      AW953H
348  https://www.rockauto.com/en/parts/airtex,AW971...  349       AW971
349  https://www.rockauto.com/en/parts/airtex,AW981...  350       AW981
350  https://www.rockauto.com/en/parts/airtex,WP247...  351      WP2473

[351 rows x 3 columns]