In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

30

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df[['Page', 'No.', 'Row_Id']]
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|████████████████████████████| 30/30 [00:00<00:00, 1549.58it/s]

      Page   No.              row-id
0        1     1  [DKHD]-[1003-1022]
1        1     2  [DKHD]-[1003-1024]
2        1     3  [DKHD]-[1003-1025]
3        1     4  [DKHD]-[1003-1026]
4        1     5  [DKHD]-[1003-1027]
...    ...   ...                 ...
1495    30  1496  [DKHD]-[250-24689]
1496    30  1497  [DKHD]-[250-24690]
1497    30  1498  [DKHD]-[250-24691]
1498    30  1499  [DKHD]-[250-24692]
1499    30  1500  [DKHD]-[250-24693]

[1500 rows x 3 columns]