In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./menu.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
    
df = df[['Url', 'No.']]
    
df.to_excel('./menu.xlsx', index=False)

df

                                                Url  No.
0        https://www.rockauto.com/en/catalog/abarth    1
1            https://www.rockauto.com/en/catalog/ac    2
2         https://www.rockauto.com/en/catalog/acura    3
3    https://www.rockauto.com/en/catalog/alfa+romeo    4
4        https://www.rockauto.com/en/catalog/allard    5
..                                              ...  ...
261   https://www.rockauto.com/en/catalog/workhorse  262
262  https://www.rockauto.com/en/catalog/yellow+cab  263
263        https://www.rockauto.com/en/catalog/yugo  264
264       https://www.rockauto.com/en/catalog/zacua  265
265     https://www.rockauto.com/en/catalog/zundapp  266

[266 rows x 2 columns]