In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./menu.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
 
df = df[['Url', 'No.', 'Part_Number']]
    
df.to_excel('./menu.xlsx', index=False)

df

                                                   Url  No. Part_Number
0    https://www.rockauto.com/en/parts/standard+mot...    1      QS101M
1    https://www.rockauto.com/en/parts/standard+mot...    2      QS101R
2    https://www.rockauto.com/en/parts/standard+mot...    3      QS102M
3    https://www.rockauto.com/en/parts/standard+mot...    4      QS102R
4    https://www.rockauto.com/en/parts/standard+mot...    5      QS103M
..                                                 ...  ...         ...
251  https://www.rockauto.com/en/parts/standard+mot...  252     TPM93RA
252  https://www.rockauto.com/en/parts/standard+mot...  253      TPM95A
253  https://www.rockauto.com/en/parts/standard+mot...  254      TPM97A
254  https://www.rockauto.com/en/parts/standard+mot...  255     TPM97RA
255  https://www.rockauto.com/en/parts/standard+mot...  256      TPM98A

[256 rows x 3 columns]