In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./kit.xlsx',
                   header=0,
                   dtype=str).fillna('')

list_type_code = df['Type_Code'].tolist()
list_part_key = df['Part_Key'].tolist()

print('总数量：' + str(len(list_part_key)))
list_part_key

总数量：1

['7088216']

In [3]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [4]:
from urllib.parse import quote
import requests
import json

In [6]:
import sys
sys.path.append('../../../00.module')
import UA
import Proxy

i = 0

type_code = list_type_code[i]
part_key = list_part_key[i]

data = 'func=getbuyersguide&payload=' + quote('{"partData":{"listing_data_essential":{"parttype":"') + type_code + quote('","partkey":"') + part_key + quote('"}}}') + '&api_json_request=1&sctchecked=1&scbeenloaded=true&curCartGroupID='

resp = requests.post('https://www.rockauto.com/catalog/catalogapi.php',
                     data=data,
                     headers={'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
                     proxies=Proxy.get_Proxy_Requests()).text

resp = json.loads(resp)

resp

{'buyersguidepieces': {'body': '<div class="buyersguide-nested"><div style="padding: .5em;"><table class="nobmp" style="width: 100%;"><tr><td class="altrow-a-0">DODGE</td><td class="altrow-a-0">DAKOTA</td><td class="altrow-a-0">2000-2002</td></tr><tr><td class="altrow-a-1">DODGE</td><td class="altrow-a-1">DURANGO</td><td class="altrow-a-1">2000-2002</td></tr><tr><td class="altrow-a-0">DODGE</td><td class="altrow-a-0">RAM 1500 PICKUP</td><td class="altrow-a-0">2002</td></tr><tr><td class="altrow-a-1">JEEP</td><td class="altrow-a-1">GRAND CHEROKEE</td><td class="altrow-a-1">1999-2004</td></tr></table><div>Please refer to catalog for application details.</div></div></div>',
  'title': "Buyer's Guide :   Timing Cam Sprocket"},
 'groupindex': None,
 'collected_javascript': '/**UQ:84A16381**/\nwindow.top.parent.window["_nck"] = "8LVLUxTaILBT+tLxkg8+3Ag7\\/0bbOhvn7P3rkFbL80\\/4ONrpMMyyMoTAzqUtg75DXjLFbtL0RWwG2TIS5g0HjN+BEpbJggwRicfW87qYxCroJDOCFdvb3koFH0TxTw3x1dhhkAt5X2DwCKM7H+wr2hzpe5dh2iW\\/JUfOqmsXVqM=";\n'}

In [7]:
from bs4 import BeautifulSoup

In [8]:
html = resp['buyersguidepieces']['body']

soup = BeautifulSoup(html, 'lxml')

with open('./vehicle.html', 'w', encoding='UTF-8') as file:
    file.write(str(soup))

print(soup.prettify())

<html>
 <body>
  <div class="buyersguide-nested">
   <div style="padding: .5em;">
    <table class="nobmp" style="width: 100%;">
     <tr>
      <td class="altrow-a-0">
       DODGE
      </td>
      <td class="altrow-a-0">
       DAKOTA
      </td>
      <td class="altrow-a-0">
       2000-2002
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       DODGE
      </td>
      <td class="altrow-a-1">
       DURANGO
      </td>
      <td class="altrow-a-1">
       2000-2002
      </td>
     </tr>
     <tr>
      <td class="altrow-a-0">
       DODGE
      </td>
      <td class="altrow-a-0">
       RAM 1500 PICKUP
      </td>
      <td class="altrow-a-0">
       2002
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       JEEP
      </td>
      <td class="altrow-a-1">
       GRAND CHEROKEE
      </td>
      <td class="altrow-a-1">
       1999-2004
      </td>
     </tr>
    </table>
    <div>
     Please refer to catalog for application details.
    </div>
   </div>
  </div>
 </body>
</html>

In [9]:
from lxml import etree

In [10]:
html = etree.HTML(str(soup))

list_vehicle = html.xpath('//div[contains(@class, "buyersguide-nested")]/descendant::table[contains(@class, "nobmp")]/tr')

vehicle = '\n'.join([' '.join(_.xpath('./td/text()')) for _ in list_vehicle])

print(vehicle)

DODGE DAKOTA 2000-2002
DODGE DURANGO 2000-2002
DODGE RAM 1500 PICKUP 2002
JEEP GRAND CHEROKEE 1999-2004

In [11]:
df_temp = pd.DataFrame([{'status': 'ok',
                         'Part_Key': part_key,
                         'Vehicle': vehicle}])

df = pd.concat([df, df_temp], ignore_index=True).fillna('')

df

  status Part_Key                                            Vehicle
0     ok  7088216  DODGE DAKOTA 2000-2002\nDODGE DURANGO 2000-200...