- Update: 2023.02.07

# 0. 配置参数

- `calculate`：what the fuck

In [1]:
calculate = '../../file/计算表-【每日断货汇报】US-Ebay 20230207.xlsx'

In [2]:
import pandas as pd

In [3]:
table_1 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(1, 9)]).loc[:4]

table_1

,层级,SKU 总数,在库为0（断货数）,在库1-2（干预数）,断货率,干预率,近期海运上架后断货数,近期海运上架后断货率
0,TOP1,525.0,38.0,49.0,0.072381,0.093333,9.0,0.017143
1,TOP10,3792.0,194.0,330.0,0.051160,0.087025,95.0,0.025053
2,TOP20,8598.0,415.0,771.0,0.048267,0.089672,218.0,0.025355
3,普通,37461.0,1816.0,3658.0,0.048477,0.097648,1313.0,0.035050
4,总数,50376.0,2463.0,4808.0,0.048892,0.095442,1635.0,0.032456

In [4]:
table_2 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(10, 17)]).loc[:4]

table_2

    层级.1  在库为0（断货）  断货无在途        占比  在库1-2（干预）  干预无在途      占比.1
0   TOP1      38.0    5.0  0.131579       49.0    3.0  0.061224
1  TOP10     194.0   23.0  0.118557      330.0   24.0  0.072727
2  TOP20     415.0   37.0  0.089157      771.0   42.0  0.054475
3     普通    1816.0  131.0  0.072137     3658.0  230.0  0.062876
4     总数    2463.0  196.0  0.079578     4808.0  299.0  0.062188

In [5]:
table_3 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(18, 27)]).loc[:4]

table_3

,层级.2,W49,W01,W02\n01/10,W02\n01/14,W03\n01/16,W05\n01/31,W05\n02/03,W06\n02/07
0,TOP1,47.0,63.0,75.0,54.0,54.0,49.0,42.0,38.0
1,TOP10,172.0,245.0,277.0,252.0,238.0,231.0,210.0,194.0
2,TOP20,314.0,362.0,438.0,379.0,377.0,377.0,352.0,415.0
3,普通,1488.0,1514.0,1872.0,1700.0,1600.0,1419.0,1457.0,1816.0
4,总数,2021.0,2184.0,2662.0,2385.0,2269.0,2076.0,2061.0,2463.0

In [6]:
table_4 = pd.read_excel(calculate, sheet_name='1_断货数据分析', header=1, usecols=[i for i in range(28, 33)], index_col=0)

table_4

         品类  断货SKU数量  总SKU数      断货占比
排名
TOP1     BC      173   2789  0.062029
TOP2     WR      147   1897  0.077491
TOP3     CA      142   4322  0.032855
TOP4    ABS      125   1421  0.087966
TOP5     GS      119   1313  0.090632
...     ...      ...    ...       ...
TOP382  BRS        0    140  0.000000
TOP383  AEC        0    237  0.000000
TOP384  CAF        0    246  0.000000
TOP385  BPD        0    300  0.000000
TOP386  EAF        0    651  0.000000

[386 rows x 4 columns]

In [7]:
sheet_2_left = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(5)], index_col=0)

sheet_2_left

                 SKU     层级    周销  在途
序号
1       USACC68184-C   TOP1   4.1   0
2          USBT33829   TOP1   6.0   0
3       USICK10313-4   TOP1  15.0   0
4         USOPK65813   TOP1   4.1   0
5      USSTR17986B-C   TOP1   9.0   0
..               ...    ...   ...  ..
178    USTHB8J10CH-C  TOP20   2.3   0
179       USTLG9PG2A  TOP20   4.0   0
180  USTPMS4A000-4-C  TOP20   2.6   0
181       USWIM40350  TOP20   0.8   0
182       USWR49530Y  TOP20   1.1   0

[182 rows x 4 columns]

In [8]:
sheet_2_right = pd.read_excel(calculate, sheet_name='2_断货SKU', header=1, usecols=[i for i in range(7, 9)], index_col=0).dropna().sort_values(by=['断货数'], ascending=False)

sheet_2_right

       断货数
品类去重
CA    27.0
SA    20.0
ICK   17.0
RSA   14.0
ACC   13.0
FF     9.0
ALT    5.0
KS     5.0
DIF    4.0
DS     3.0
EM     3.0
CAF    3.0
CST    3.0
GS     2.0
SKA    2.0
WR     2.0
WIM    2.0
IC     2.0
TC     2.0
TCM    2.0
TBC    2.0
TCA    2.0
STR    2.0
THB    2.0
RAD    2.0
HVCP   2.0
MAF    1.0
PST    1.0
OC     1.0
RBM    1.0
HMB    1.0
GPR    1.0
OCL    1.0
FI     1.0
TLG    1.0
EVC    1.0
ET     1.0
MI     1.0
TCV    1.0
DLA    1.0
RASA   1.0
OP     1.0
CTP    1.0
DGC    1.0
HB     1.0
HM     1.0
OS     1.0
SG     1.0
BM     1.0
BT     1.0
TSS    1.0
WP     1.0
AEC    1.0
ASM    1.0
ASV    1.0
TPMS   1.0

In [9]:
print(int(table_1.loc[4, '在库为0（断货数）']), end='; ')
print(str(table_1.loc[4, '断货率']*100).split('.')[0] + '.' + str(round(table_1.loc[4, '断货率']*10000) - int(str(table_1.loc[4, '断货率']*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['断货率'].tolist().index(max(table_1['断货率'])), '层级'], end='; ')
print(str(max(table_1['断货率'])*100).split('.')[0] + '.' + str(round(max(table_1['断货率'])*10000) - int(str(max(table_1['断货率'])*100).split('.')[0])*100) + '%', end='; ')
print(table_1.loc[table_1['干预率'].tolist().index(max(table_1['干预率'])), '层级'], end='; ')
print(str(max(table_1['干预率'])*100).split('.')[0] + '.' + str(round(max(table_1['干预率'])*10000) - int(str(max(table_1['干预率'])*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left), end='; ')
print(sheet_2_right['断货数'].index[0], end='; ')
print(sheet_2_right['断货数'].index[1], end='; ')
print(sheet_2_right['断货数'].index[2], end='; ')
print(int(sheet_2_right.iloc[0, 0]), end='; ')
print(int(sheet_2_right.iloc[1, 0]), end='; ')
print(int(sheet_2_right.iloc[2, 0]))
print('\n= = = = = = = = = = = = = = = = = =\n')
print(len(sheet_2_left[sheet_2_left['层级']=='TOP1']))

2463; 4.89%; TOP1; 7.24%; 普通; 9.76%

= = = = = = = = = = = = = = = = = =

182; CA; SA; ICK; 27; 20; 17

= = = = = = = = = = = = = = = = = =

5

In [10]:
print(int(table_2.loc[4, '在库为0（断货）']), end='; ')
print(int(table_2.loc[4, '断货无在途']), end='; ')
print(str(table_2.loc[4, '占比']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比']*10000) - int(str(table_2.loc[4, '占比']*100).split('.')[0])*100) + '%', end='; ')
print(int(table_2.loc[4, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[4, '干预无在途']), end='; ')
print(str(table_2.loc[4, '占比.1']*100).split('.')[0] + '.' + str(round(table_2.loc[4, '占比.1']*10000) - int(str(table_2.loc[4, '占比.1']*100).split('.')[0])*100) + '%')
print('\n= = = = = = = = = = = = = = = = = =\n')
print(int(table_2.loc[0, '在库1-2（干预）']), end='; ')
print(int(table_2.loc[0, '干预无在途']))

2463; 196; 7.96%; 4808; 299; 6.22%

= = = = = = = = = = = = = = = = = =

49; 3

In [11]:
print('TOP1: ' + str(int(table_3.iloc[0, 8] - table_3.iloc[0, 7])))
print('TOP10: ' + str(int(table_3.iloc[1, 8] - table_3.iloc[1, 7])))
print('TOP20: ' + str(int(table_3.iloc[2, 8] - table_3.iloc[2, 7])))
print('普通: ' + str(int(table_3.iloc[3, 8] - table_3.iloc[3, 7])))

TOP1: -4
TOP10: -16
TOP20: 63
普通: 359

In [12]:
print(table_4.loc['TOP1', '品类'], end='; ')
print(table_4.loc['TOP1', '断货SKU数量'])
print('\n= = = = = = = = = = = = = = = = = =\n')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 2], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 0], end='; ')
print(table_4.iloc[table_4['断货占比'][:10].tolist().index(max(table_4['断货占比'][:10])), 1], end='; ')
print(str(max(table_4['断货占比'][:10])*100).split('.')[0] + '.' + str(round(max(table_4['断货占比'][:10])*10000) - int(str(max(table_4['断货占比'][:10])*100).split('.')[0])*100) + '%')

BC; 173

= = = = = = = = = = = = = = = = = =

ACC; 476; ACC; 86; 18.7%