# 1. Multiple

In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
len(list_file)

4

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
import json

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        df = pd.concat([df, pd.DataFrame(json.loads(f.read()))], ignore_index=False).fillna('')
        
df = df[['Page', 'No.', 'Url']]
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|███████████████████████████████| 4/4 [00:00<00:00, 569.07it/s]

     Page  No.                                                Url
0       1    1  https://www.dormanproducts.com/p-140889-574-07...
1       1    2  https://www.dormanproducts.com/p-141534-574-07...
2       1    3  https://www.dormanproducts.com/p-132360-574-02...
3       1    4  https://www.dormanproducts.com/p-141535-574-12...
4       1    5  https://www.dormanproducts.com/p-133433-574-04...
..    ...  ...                                                ...
388     4  389  https://www.dormanproducts.com/p-84180-577-352...
389     4  390  https://www.dormanproducts.com/p-75339-577-270...
390     4  391  https://www.dormanproducts.com/p-96632-577-353...
391     4  392  https://www.dormanproducts.com/p-75283-577-271...
392     4  393  https://www.dormanproducts.com/p-75232-577-264...

[393 rows x 3 columns]