In [1]:
import os

In [2]:
list_file = list(os.walk('./menu'))[0][2]
if '.DS_Store' in list_file:
    list_file.remove('.DS_Store')
if '0.null.txt' in list_file:
    list_file.remove('0.null.txt')
    
list_file.sort()
    
len(list_file)

4

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [5]:
from tqdm import tqdm
from bs4 import BeautifulSoup
from lxml import etree

In [6]:
for file in tqdm(list_file, desc='Progress', ncols=77):
    with open('./menu/' + file, 'r', encoding='UTF-8') as f:
        html = f.read()
        
        # = = = = = = = = = = = = = = =
        
        soup = BeautifulSoup(html, 'lxml')
        html = etree.HTML(str(soup))
        
        # = = = = = = = = = = = = = = =
        
        list_url = html.xpath('//div[@class="searchItems-img"]/a/@href')
        
        list_url = ['https://www.dormanproducts.com/' + url.strip() for url in list_url]
        
        # = = = = = = = = = = = = = = =
        
        df_temp = pd.DataFrame({'Page': int(file.replace('.txt', '')),
                                'No.': [i+1 for i in range(len(list_url))],
                                'Url': list_url})

        df = pd.concat([df, df_temp], ignore_index=True).fillna('')

# = = = = = = = = = = = = = = =
        
df = df.drop_duplicates(ignore_index=True)
df = df.sort_values(by=['Page', 'No.'], ascending=[True, True]).reset_index(drop=True)
df['No.'] = [i+1 for i in range(len(df))]
df.to_excel('./menu.xlsx', index=False)

df

Progress: 100%|████████████████████████████████| 4/4 [00:00<00:00,  5.19it/s]

     Page  No.                                                Url
0       1    1  https://www.dormanproducts.com/p-134350-574-09...
1       1    2  https://www.dormanproducts.com/p-132361-574-02...
2       1    3  https://www.dormanproducts.com/p-134359-574-15...
3       1    4  https://www.dormanproducts.com/p-141313-574-10...
4       1    5  https://www.dormanproducts.com/p-133430-574-03...
..    ...  ...                                                ...
388     4  389  https://www.dormanproducts.com/p-84290-577-370...
389     4  390  https://www.dormanproducts.com/p-83960-577-323...
390     4  391  https://www.dormanproducts.com/p-80367-577-322...
391     4  392  https://www.dormanproducts.com/p-96632-577-353...
392     4  393  https://www.dormanproducts.com/p-68662-577-534...

[393 rows x 3 columns]