In [1]:
import pandas as pd

output_correct = pd.DataFrame()
output_error = pd.DataFrame()

In [2]:
input_ = pd.read_excel('./year.xlsx',
                       header=0,
                       dtype=str).fillna('')

print('总数量：' + str(len(input_)))
input_['Year'].tolist()

总数量：47

['2024',
 '2023',
 '2022',
 '2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 '2005',
 '2004',
 '2003',
 '2002',
 '2001',
 '2000',
 '1999',
 '1998',
 '1997',
 '1996',
 '1995',
 '1994',
 '1993',
 '1992',
 '1991',
 '1990',
 '1989',
 '1988',
 '1987',
 '1986',
 '1985',
 '1984',
 '1983',
 '1982',
 '1981',
 '1980',
 '1979',
 '1978']

In [3]:
crawler_status = 'error'

crawler_status

'error'

In [4]:
import requests

import sys
sys.path.append('../00.Tools')
import UA
import Proxy

In [5]:
a = 0

resp = requests.get('https://www.moogparts.com/driv/partfinder/api.catalog.makes?brand=fllj&locale=en_US&country_code=US&year_id=' + input_.loc[a, 'Year_Id'] + '&vehicle_group_ids=2',
                    headers=UA.get_User_Agent_Requests(),
                    proxies=Proxy.get_Proxy_Requests()).text

resp

'{"makes":[{"id":67,"value":"Nissan"}]}'

In [6]:
import json

In [7]:
json_data = json.loads(resp)

json_data

{'makes': [{'id': 67, 'value': 'Nissan'}]}

In [9]:
df_temp = pd.DataFrame({'Year_Id': int(input_.loc[a, 'Year_Id']),
                        'Year': input_.loc[a, 'Year'],
                        'Make_Id': [make['id'] for make in json_data['makes']],
                        'Make': [make['value'] for make in json_data['makes']]})

output_correct = pd.concat([output_correct, df_temp], ignore_index=True).fillna('')

len(output_correct)

1

In [10]:
crawler_status = 'ok'

crawler_status

'ok'

In [11]:
if crawler_status == 'error':
    df_temp = pd.DataFrame([{'Year_Id': int(input_.loc[a, 'Year_Id']),
                             'Year': input_.loc[a, 'Year']}])
    
    output_error = pd.concat([output_error, df_temp], ignore_index=True).fillna('')

len(output_error)

0

In [14]:
output_correct = output_correct.drop_duplicates(ignore_index=True)
output_correct = output_correct.sort_values(by=['Year_Id', 'Make_Id'], ascending=[False, True]).reset_index(drop=True)
output_correct.to_excel('./test_make.xlsx', index=False)

output_correct

   Year_Id  Year  Make_Id    Make
0     2024  2024       67  Nissan

In [15]:
if len(output_error) != 0:
    output_error = output_error.drop_duplicates(ignore_index=True)
    output_error = output_error.sort_values(by=['Year_Id'], ascending=[False]).reset_index(drop=True)
    output_error.to_excel('./test_make_error.xlsx', index=False)

output_error

Empty DataFrame
Columns: []
Index: []