In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./manufacturer.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
    
df = df[['No.', 'Manufacturer']]
    
df.to_excel('./manufacturer.xlsx', index=False)

df

    Manufacturer  No.
0             3D    1
1             3M    2
2            AAE    3
3            ACC    4
4          ACCEL    5
..           ...  ...
538  WORLD BRAKE  539
539          WVE  540
540          XCP  541
541  XRF CHASSIS  542
542           ZF  543

[543 rows x 2 columns]