In [1]:
import pandas as pd

input_ = pd.read_excel('./2.WEEK2—case题目0428.xlsx',
                       sheet_name='总表',
                       header=0,
                       usecols='A:B',
                       dtype=str).fillna('')

input_

             SKU    仓库
0        WS02863  美东仓库
1        WS02632  美西仓库
2      OFA294AEB  美西仓库
3      OFA583AFB  美西仓库
4       AIHAAA00  美东仓库
...          ...   ...
28426    GS70140  美南仓库
28427    GS71310  美南仓库
28428    GS68880  美南仓库
28429    GS07168  美南仓库
28430  OPK64529D  美东仓库

[28431 rows x 2 columns]

In [2]:
df_stock = pd.read_excel('./2.WEEK2—case题目0428.xlsx',
                         sheet_name='附3_库存表',
                         header=0,
                         usecols='A:I',
                         dtype=str).fillna('')

df_stock['在途'] = df_stock['在途'].astype(int)
df_stock['可售'] = df_stock['可售'].astype(int)

df_stock

            商品编码 4-25        商品中文名称  仓库代码    仓库  在途  可售 待出库 不良品  已出库
0           USOP64305           油底壳  USEA  美东仓库   8   0   0   0   83
1           USOP25053           油底壳  USEA  美东仓库   0   3   0   0   58
2           USSGPL002  Splash Guard  USEA  美东仓库   0   0   0   0  436
3           USOP97704           油底壳  USEA  美东仓库   3   1   0   0  218
4           USOP97705           油底壳  USEA  美东仓库   0   0   0   0   70
...               ...           ...   ...   ...  ..  ..  ..  ..  ...
76161    USABS25880-N       ABS 传感器  USWE  美西仓库   0   2   0   0    0
76162    USTHA02693-N           节温器  USWE  美西仓库   0   1   0   0    0
76163    USFP2368M0-N           燃油泵  USWE  美西仓库   0   1   0   0    0
76164  USBCB91380LR-N         刹车制动钳  USWE  美西仓库   0   1   0   0    0
76165     USDS36772-N           传动轴  USWE  美西仓库   0   1   0   0    0

[76166 rows x 9 columns]

In [3]:
df_stock['PTSKU'] = [sku.removeprefix('US')[:-2] if sku.endswith('-N') or sku.endswith('-Y') else sku.removeprefix('US') for sku in df_stock['商品编码 4-25'].tolist()]
df_stock = df_stock[['PTSKU', '在途', '可售']].groupby(['PTSKU'], as_index=False).sum()

df_stock

          PTSKU  在途  可售
0      AAS64500  13   0
1      ABS00021  14   1
2      ABS00117   0   1
3      ABS00217   3   3
4      ABS00317   0   0
...         ...  ..  ..
30947   WVTO016   0   0
30948   WVTO017   0   0
30949   WVTO018   0   0
30950   WVTO020   0   0
30951   WVVW001   0   0

[30952 rows x 3 columns]

In [4]:
input_ = pd.merge(left=input_,
                  right=df_stock,
                  how='left',
                  left_on='SKU',
                  right_on='PTSKU').fillna('')

input_.columns = input_.columns.tolist()[:-1] + ['在库']

input_[['SKU', '仓库', '在库', '在途']].to_excel('./answer_3.xlsx', index=False)

input_

             SKU    仓库      PTSKU     在途     在库
0        WS02863  美东仓库    WS02863    0.0  699.0
1        WS02632  美西仓库    WS02632  534.0  107.0
2      OFA294AEB  美西仓库  OFA294AEB   77.0  174.0
3      OFA583AFB  美西仓库  OFA583AFB  118.0  180.0
4       AIHAAA00  美东仓库   AIHAAA00  118.0   90.0
...          ...   ...        ...    ...    ...
28426    GS70140  美南仓库    GS70140   18.0    0.0
28427    GS71310  美南仓库    GS71310   10.0    0.0
28428    GS68880  美南仓库    GS68880   14.0    0.0
28429    GS07168  美南仓库    GS07168   18.0    0.0
28430  OPK64529D  美东仓库  OPK64529D    5.0    0.0

[28431 rows x 5 columns]