In [1]:
import pandas as pd

input_ = pd.read_excel('./2.WEEK2—case题目0428.xlsx',
                       sheet_name='总表',
                       header=0,
                       usecols='A:B',
                       dtype=str).fillna('')

input_['US_MRP_SKU'] = ['US' + sku for sku in input_['SKU'].tolist()]

input_

             SKU    仓库   US_MRP_SKU
0        WS02863  美东仓库    USWS02863
1        WS02632  美西仓库    USWS02632
2      OFA294AEB  美西仓库  USOFA294AEB
3      OFA583AFB  美西仓库  USOFA583AFB
4       AIHAAA00  美东仓库   USAIHAAA00
...          ...   ...          ...
28426    GS70140  美南仓库    USGS70140
28427    GS71310  美南仓库    USGS71310
28428    GS68880  美南仓库    USGS68880
28429    GS07168  美南仓库    USGS07168
28430  OPK64529D  美东仓库  USOPK64529D

[28431 rows x 3 columns]

In [2]:
df_base = pd.read_excel('./2.WEEK2—case题目0428.xlsx',
                        sheet_name='附1_US基础数据',
                        header=0,
                        dtype=str).fillna('')

for i in range(12):
    df_base[df_base.columns[i+1]] = df_base[df_base.columns[i+1]].astype(int)
df_base['周销'] = df_base['周销'].astype(float)

df_base

,MRP SKU,01-31,02-07,02-14,02-21,02-28,03-07,03-14,03-21,03-28,04-04,04-11,04-18,周销,辅助列
0,USWS02863,22,4,7,14,22,11,25,15,25,21,26,47,23.60,239
1,USWS02632,33,30,30,41,53,65,53,39,31,23,41,32,30.10,471
2,USOFA294AEB,36,43,32,48,31,70,42,4,15,24,23,30,50.00,398
3,USOFA583AFB,44,68,47,31,8,9,22,22,21,19,29,30,60.00,350
4,USAIHAAA00,4,2,2,13,9,7,11,26,19,11,17,24,20.40,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28561,USGS70140,0,0,0,0,0,0,0,0,0,0,0,0,2.00,0
28562,USGS71310,0,0,0,0,0,0,0,0,0,0,0,0,1.50,0
28563,USGS68880,0,0,0,0,0,0,0,0,0,0,0,0,1.50,0
28564,USGS07168,0,0,0,0,0,0,0,0,0,0,0,0,3.00,0
28565,USOPK64529D,0,0,0,0,0,0,0,0,0,0,0,0,0.25,0

In [3]:
input_ = pd.merge(left=input_,
                  right=df_base,
                  how='left',
                  left_on='US_MRP_SKU',
                  right_on='MRP SKU').fillna('')

input_

,SKU,仓库,US_MRP_SKU,MRP SKU,01-31,02-07,02-14,02-21,02-28,03-07,03-14,03-21,03-28,04-04,04-11,04-18,周销,辅助列
0,WS02863,美东仓库,USWS02863,USWS02863,22,4,7,14,22,11,25,15,25,21,26,47,23.60,239
1,WS02632,美西仓库,USWS02632,USWS02632,33,30,30,41,53,65,53,39,31,23,41,32,30.10,471
2,OFA294AEB,美西仓库,USOFA294AEB,USOFA294AEB,36,43,32,48,31,70,42,4,15,24,23,30,50.00,398
3,OFA583AFB,美西仓库,USOFA583AFB,USOFA583AFB,44,68,47,31,8,9,22,22,21,19,29,30,60.00,350
4,AIHAAA00,美东仓库,USAIHAAA00,USAIHAAA00,4,2,2,13,9,7,11,26,19,11,17,24,20.40,145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28426,GS70140,美南仓库,USGS70140,USGS70140,0,0,0,0,0,0,0,0,0,0,0,0,2.00,0
28427,GS71310,美南仓库,USGS71310,USGS71310,0,0,0,0,0,0,0,0,0,0,0,0,1.50,0
28428,GS68880,美南仓库,USGS68880,USGS68880,0,0,0,0,0,0,0,0,0,0,0,0,1.50,0
28429,GS07168,美南仓库,USGS07168,USGS07168,0,0,0,0,0,0,0,0,0,0,0,0,3.00,0
28430,OPK64529D,美东仓库,USOPK64529D,USOPK64529D,0,0,0,0,0,0,0,0,0,0,0,0,0.25,0

In [4]:
input_['层级'] = ['TOP1' if sale >= 10 else 'TOP10' if sale >= 7 else 'TOP20' if sale >= 3 else '普通' for sale in input_['周销'].tolist()]

input_[['SKU', '仓库', '周销', '层级']].to_excel('./answer_2.xlsx', index=False)

input_

,SKU,仓库,US_MRP_SKU,MRP SKU,01-31,02-07,02-14,02-21,02-28,03-07,03-14,03-21,03-28,04-04,04-11,04-18,周销,辅助列,层级
0,WS02863,美东仓库,USWS02863,USWS02863,22,4,7,14,22,11,25,15,25,21,26,47,23.60,239,TOP1
1,WS02632,美西仓库,USWS02632,USWS02632,33,30,30,41,53,65,53,39,31,23,41,32,30.10,471,TOP1
2,OFA294AEB,美西仓库,USOFA294AEB,USOFA294AEB,36,43,32,48,31,70,42,4,15,24,23,30,50.00,398,TOP1
3,OFA583AFB,美西仓库,USOFA583AFB,USOFA583AFB,44,68,47,31,8,9,22,22,21,19,29,30,60.00,350,TOP1
4,AIHAAA00,美东仓库,USAIHAAA00,USAIHAAA00,4,2,2,13,9,7,11,26,19,11,17,24,20.40,145,TOP1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28426,GS70140,美南仓库,USGS70140,USGS70140,0,0,0,0,0,0,0,0,0,0,0,0,2.00,0,普通
28427,GS71310,美南仓库,USGS71310,USGS71310,0,0,0,0,0,0,0,0,0,0,0,0,1.50,0,普通
28428,GS68880,美南仓库,USGS68880,USGS68880,0,0,0,0,0,0,0,0,0,0,0,0,1.50,0,普通
28429,GS07168,美南仓库,USGS07168,USGS07168,0,0,0,0,0,0,0,0,0,0,0,0,3.00,0,TOP20
28430,OPK64529D,美东仓库,USOPK64529D,USOPK64529D,0,0,0,0,0,0,0,0,0,0,0,0,0.25,0,普通