In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

df

Empty DataFrame
Columns: []
Index: []

In [3]:
import json

In [4]:
with open('./menu.txt', 'r', encoding='UTF-8') as f:
    df = pd.DataFrame(json.loads(f.read()))
 
df = df[['Url', 'No.', 'Part_Number']]
    
df.to_excel('./menu.xlsx', index=False)

df

                                                   Url  No. Part_Number
0    https://www.rockauto.com/en/parts/agility,3310...    1     3310003
1    https://www.rockauto.com/en/parts/agility,3310...    2     3310004
2    https://www.rockauto.com/en/parts/agility,3310...    3     3310006
3    https://www.rockauto.com/en/parts/agility,3310...    4     3310007
4    https://www.rockauto.com/en/parts/agility,3310...    5     3310008
..                                                 ...  ...         ...
359  https://www.rockauto.com/en/parts/agility,3310...  360     3310738
360  https://www.rockauto.com/en/parts/agility,3310...  361     3310739
361  https://www.rockauto.com/en/parts/agility,3310...  362     3310744
362  https://www.rockauto.com/en/parts/agility,3310...  363     3310745
363  https://www.rockauto.com/en/parts/agility,3310...  364     3310751

[364 rows x 3 columns]