In [1]:
import pandas as pd

df = pd.DataFrame(columns=['Part_Number', 'Url'])

df

Empty DataFrame
Columns: [Part_Number, Url]
Index: []

In [2]:
import json

In [3]:
with open('./menu.txt', 'r') as f:
    list_part = f.read()[1:-1].split('},{')
    for i in range(len(list_part)):
        if i == 0:
            part = json.loads(list_part[i] + '}')
        elif i == len(list_part) - 1:
            part = json.loads('{' + list_part[i])
        else:
            part = json.loads('{' + list_part[i] + '}')
        
        df_temp = pd.DataFrame([{'Part_Number': part['Part_Number'],
                                 'Url': part['Url']}])
        df = pd.concat([df, df_temp], ignore_index=True)
        
df.to_excel('./menu.xlsx', index=False)

df

    Part_Number                                                Url
0        ALS100  https://www.rockauto.com/en/parts/standard+mot...
1       ALS1807  https://www.rockauto.com/en/parts/standard+mot...
2         PC513  https://www.rockauto.com/en/parts/standard+mot...
3         PC514  https://www.rockauto.com/en/parts/standard+mot...
4          SC10  https://www.rockauto.com/en/parts/standard+mot...
..          ...                                                ...
477       SC90T  https://www.rockauto.com/en/parts/standard+mot...
478        SC96  https://www.rockauto.com/en/parts/standard+mot...
479        SC97  https://www.rockauto.com/en/parts/standard+mot...
480        SC98  https://www.rockauto.com/en/parts/standard+mot...
481        SC99  https://www.rockauto.com/en/parts/standard+mot...

[482 rows x 2 columns]