In [1]:
param_date = '20240621'

In [2]:
import pandas as pd

output_correct, output_error = pd.DataFrame(), pd.DataFrame()

In [3]:
input_ = pd.read_excel(f'./{param_date}/part.xlsx',
                       header=0,
                       dtype=str).fillna('')

input_ = input_.drop_duplicates(['JOIN_PTPKPNCN'], keep='first', ignore_index=True)

print(f'总数量：{len(input_)}')
input_['JOIN_PTPKPNCN'].tolist()

总数量：1

['']

In [4]:
crawler_status = 'error'

crawler_status

'error'

In [5]:
import requests

import sys
sys.path.append('../../00.Tools')
import UA
import Proxy

In [6]:
a = 0

data = {'func': 'getbuyersguide',
        'payload': f'''{{"partData":{{"listing_data_essential":{{"parttype":"{input_.loc[a, 'Part_PartType']}","partkey":"{input_.loc[a, 'PartKey']}"}},"listing_data_supplemental":{{"partnumber":"{input_.loc[a, 'PartNumber']}","catalogname":"{input_.loc[a, 'CatalogName']}"}}}}}}''',
        'partsearch[manufacturer][partsearch_007]': input_.loc[a, 'CatalogName'],
        'api_json_request': '1'}

resp = requests.post('https://www.rockauto.com/catalog/catalogapi.php',
                     data=data,
                     headers=UA.get_User_Agent_Requests(),
                     proxies=Proxy.get_Proxy_Requests()).text

resp

'{"buyersguidepieces":{"body":"<div class=\\"buyersguide-nested\\"><div style=\\"padding: .5em;\\"><table class=\\"nobmp\\" style=\\"width: 100%;\\"><tr><td class=\\"altrow-a-0\\">DODGE<\\/td><td class=\\"altrow-a-0\\">CALIBER<\\/td><td class=\\"altrow-a-0\\">2012<\\/td><\\/tr><tr><td class=\\"altrow-a-1\\">DODGE<\\/td><td class=\\"altrow-a-1\\">DAKOTA<\\/td><td class=\\"altrow-a-1\\">2008-2010<\\/td><\\/tr><tr><td class=\\"altrow-a-0\\">DODGE<\\/td><td class=\\"altrow-a-0\\">DURANGO<\\/td><td class=\\"altrow-a-0\\">2009<\\/td><\\/tr><tr><td class=\\"altrow-a-1\\">DODGE<\\/td><td class=\\"altrow-a-1\\">NITRO<\\/td><td class=\\"altrow-a-1\\">2009-2012<\\/td><\\/tr><tr><td class=\\"altrow-a-0\\">DODGE<\\/td><td class=\\"altrow-a-0\\">RAM 1500 PICKUP<\\/td><td class=\\"altrow-a-0\\">2009-2010<\\/td><\\/tr><tr><td class=\\"altrow-a-1\\">JEEP<\\/td><td class=\\"altrow-a-1\\">COMMANDER<\\/td><td class=\\"altrow-a-1\\">2009-2010<\\/td><\\/tr><tr><td class=\\"altrow-a-0\\">JEEP<\\/td><td class=\\"altrow-a-0\\">GRAND CHEROKEE<\\/td><td class=\\"altrow-a-0\\">2009-2010<\\/td><\\/tr><tr><td class=\\"altrow-a-1\\">JEEP<\\/td><td class=\\"altrow-a-1\\">GRAND WAGONEER<\\/td><td class=\\"altrow-a-1\\">2023<\\/td><\\/tr><tr><td class=\\"altrow-a-0\\">JEEP<\\/td><td class=\\"altrow-a-0\\">LIBERTY<\\/td><td class=\\"altrow-a-0\\">2009-2012<\\/td><\\/tr><tr><td class=\\"altrow-a-1\\">JEEP<\\/td><td class=\\"altrow-a-1\\">WAGONEER<\\/td><td class=\\"altrow-a-1\\">2023<\\/td><\\/tr><tr><td class=\\"altrow-a-0\\">JEEP<\\/td><td class=\\"altrow-a-0\\">WAGONEER L<\\/td><td class=\\"altrow-a-0\\">2023<\\/td><\\/tr><tr><td class=\\"altrow-a-1\\">MITSUBISHI<\\/td><td class=\\"altrow-a-1\\">RAIDER<\\/td><td class=\\"altrow-a-1\\">2009<\\/td><\\/tr><tr><td class=\\"altrow-a-0\\">RAM<\\/td><td class=\\"altrow-a-0\\">1500<\\/td><td class=\\"altrow-a-0\\">2011-2012<\\/td><\\/tr><tr><td class=\\"altrow-a-1\\">RAM<\\/td><td class=\\"altrow-a-1\\">DAKOTA<\\/td><td class=\\"altrow-a-1\\">2011<\\/td><\\/tr><\\/table><div>Please refer to catalog for application details.<\\/div><\\/div><\\/div>","title":"Buyer\'s Guide : PRO-TEC PXL57045 Oil Filter"},"groupindex":null,"collected_javascript":"\\/**UQ:766EC7B2**\\/\\nwindow.top.parent.window[\\"_nck\\"] = \\"8LVLUxTaILBT+tLxkg8+3Ag7\\\\\\/0bbOhvn7P3rkFbL809YNOHQDmNBznFtdYfbcEUriQ0mcmy\\\\\\/TcWfcbfHTjxSwndfe2chgzy88liHO2MoAcp7wW7lek5DxawTLSg\\\\\\/DpYUwwgKwrMfy33EX9GUO2GXnxXCdc+Gsmw904TTn1VMnco=\\";\\n"}'

In [7]:
import json

In [8]:
json_ = json.loads(resp)

json_

{'buyersguidepieces': {'body': '<div class="buyersguide-nested"><div style="padding: .5em;"><table class="nobmp" style="width: 100%;"><tr><td class="altrow-a-0">DODGE</td><td class="altrow-a-0">CALIBER</td><td class="altrow-a-0">2012</td></tr><tr><td class="altrow-a-1">DODGE</td><td class="altrow-a-1">DAKOTA</td><td class="altrow-a-1">2008-2010</td></tr><tr><td class="altrow-a-0">DODGE</td><td class="altrow-a-0">DURANGO</td><td class="altrow-a-0">2009</td></tr><tr><td class="altrow-a-1">DODGE</td><td class="altrow-a-1">NITRO</td><td class="altrow-a-1">2009-2012</td></tr><tr><td class="altrow-a-0">DODGE</td><td class="altrow-a-0">RAM 1500 PICKUP</td><td class="altrow-a-0">2009-2010</td></tr><tr><td class="altrow-a-1">JEEP</td><td class="altrow-a-1">COMMANDER</td><td class="altrow-a-1">2009-2010</td></tr><tr><td class="altrow-a-0">JEEP</td><td class="altrow-a-0">GRAND CHEROKEE</td><td class="altrow-a-0">2009-2010</td></tr><tr><td class="altrow-a-1">JEEP</td><td class="altrow-a-1">GRAND WAGONEER</td><td class="altrow-a-1">2023</td></tr><tr><td class="altrow-a-0">JEEP</td><td class="altrow-a-0">LIBERTY</td><td class="altrow-a-0">2009-2012</td></tr><tr><td class="altrow-a-1">JEEP</td><td class="altrow-a-1">WAGONEER</td><td class="altrow-a-1">2023</td></tr><tr><td class="altrow-a-0">JEEP</td><td class="altrow-a-0">WAGONEER L</td><td class="altrow-a-0">2023</td></tr><tr><td class="altrow-a-1">MITSUBISHI</td><td class="altrow-a-1">RAIDER</td><td class="altrow-a-1">2009</td></tr><tr><td class="altrow-a-0">RAM</td><td class="altrow-a-0">1500</td><td class="altrow-a-0">2011-2012</td></tr><tr><td class="altrow-a-1">RAM</td><td class="altrow-a-1">DAKOTA</td><td class="altrow-a-1">2011</td></tr></table><div>Please refer to catalog for application details.</div></div></div>',
  'title': "Buyer's Guide : PRO-TEC PXL57045 Oil Filter"},
 'groupindex': None,
 'collected_javascript': '/**UQ:766EC7B2**/\nwindow.top.parent.window["_nck"] = "8LVLUxTaILBT+tLxkg8+3Ag7\\/0bbOhvn7P3rkFbL809YNOHQDmNBznFtdYfbcEUriQ0mcmy\\/TcWfcbfHTjxSwndfe2chgzy88liHO2MoAcp7wW7lek5DxawTLSg\\/DpYUwwgKwrMfy33EX9GUO2GXnxXCdc+Gsmw904TTn1VMnco=";\n'}

In [9]:
from bs4 import BeautifulSoup
from lxml import etree

In [10]:
soup = BeautifulSoup(json_['buyersguidepieces']['body'], 'lxml')
html = etree.HTML(str(soup))

with open('./vehicle.html', 'w', encoding='UTF-8') as file:
    file.write(str(soup))

print(soup.prettify())

<html>
 <body>
  <div class="buyersguide-nested">
   <div style="padding: .5em;">
    <table class="nobmp" style="width: 100%;">
     <tr>
      <td class="altrow-a-0">
       DODGE
      </td>
      <td class="altrow-a-0">
       CALIBER
      </td>
      <td class="altrow-a-0">
       2012
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       DODGE
      </td>
      <td class="altrow-a-1">
       DAKOTA
      </td>
      <td class="altrow-a-1">
       2008-2010
      </td>
     </tr>
     <tr>
      <td class="altrow-a-0">
       DODGE
      </td>
      <td class="altrow-a-0">
       DURANGO
      </td>
      <td class="altrow-a-0">
       2009
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       DODGE
      </td>
      <td class="altrow-a-1">
       NITRO
      </td>
      <td class="altrow-a-1">
       2009-2012
      </td>
     </tr>
     <tr>
      <td class="altrow-a-0">
       DODGE
      </td>
      <td class="altrow-a-0">
       RAM 1500 PICKUP
      </td>
      <td class="altrow-a-0">
       2009-2010
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       JEEP
      </td>
      <td class="altrow-a-1">
       COMMANDER
      </td>
      <td class="altrow-a-1">
       2009-2010
      </td>
     </tr>
     <tr>
      <td class="altrow-a-0">
       JEEP
      </td>
      <td class="altrow-a-0">
       GRAND CHEROKEE
      </td>
      <td class="altrow-a-0">
       2009-2010
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       JEEP
      </td>
      <td class="altrow-a-1">
       GRAND WAGONEER
      </td>
      <td class="altrow-a-1">
       2023
      </td>
     </tr>
     <tr>
      <td class="altrow-a-0">
       JEEP
      </td>
      <td class="altrow-a-0">
       LIBERTY
      </td>
      <td class="altrow-a-0">
       2009-2012
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       JEEP
      </td>
      <td class="altrow-a-1">
       WAGONEER
      </td>
      <td class="altrow-a-1">
       2023
      </td>
     </tr>
     <tr>
      <td class="altrow-a-0">
       JEEP
      </td>
      <td class="altrow-a-0">
       WAGONEER L
      </td>
      <td class="altrow-a-0">
       2023
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       MITSUBISHI
      </td>
      <td class="altrow-a-1">
       RAIDER
      </td>
      <td class="altrow-a-1">
       2009
      </td>
     </tr>
     <tr>
      <td class="altrow-a-0">
       RAM
      </td>
      <td class="altrow-a-0">
       1500
      </td>
      <td class="altrow-a-0">
       2011-2012
      </td>
     </tr>
     <tr>
      <td class="altrow-a-1">
       RAM
      </td>
      <td class="altrow-a-1">
       DAKOTA
      </td>
      <td class="altrow-a-1">
       2011
      </td>
     </tr>
    </table>
    <div>
     Please refer to catalog for application details.
    </div>
   </div>
  </div>
 </body>
</html>

In [11]:
list_tr = html.xpath('//tr')

list_tr

[<Element tr at 0x10eef39c0>,
 <Element tr at 0x10e3615c0>,
 <Element tr at 0x10b1f8e80>,
 <Element tr at 0x10cf01ec0>,
 <Element tr at 0x10cf03740>,
 <Element tr at 0x10cf02d40>,
 <Element tr at 0x10cf01cc0>,
 <Element tr at 0x10cf01c40>,
 <Element tr at 0x10cf03900>,
 <Element tr at 0x10cf00e80>,
 <Element tr at 0x10cf01880>,
 <Element tr at 0x10cf00640>,
 <Element tr at 0x10ceef8c0>,
 <Element tr at 0x10ceefd40>]

In [12]:
dict_vehicle = {}
for i in range(len(list_tr)):
    dict_vehicle[str(i)] = {}
    list_td = [td.strip() for td in list_tr[i].xpath('./td/text()')]
    for j in range(len(list_td)):
        dict_vehicle[str(i)][str(j)] = list_td[j]

json_vehicle = json.dumps(dict_vehicle)

json_vehicle

'{"0": {"0": "DODGE", "1": "CALIBER", "2": "2012"}, "1": {"0": "DODGE", "1": "DAKOTA", "2": "2008-2010"}, "2": {"0": "DODGE", "1": "DURANGO", "2": "2009"}, "3": {"0": "DODGE", "1": "NITRO", "2": "2009-2012"}, "4": {"0": "DODGE", "1": "RAM 1500 PICKUP", "2": "2009-2010"}, "5": {"0": "JEEP", "1": "COMMANDER", "2": "2009-2010"}, "6": {"0": "JEEP", "1": "GRAND CHEROKEE", "2": "2009-2010"}, "7": {"0": "JEEP", "1": "GRAND WAGONEER", "2": "2023"}, "8": {"0": "JEEP", "1": "LIBERTY", "2": "2009-2012"}, "9": {"0": "JEEP", "1": "WAGONEER", "2": "2023"}, "10": {"0": "JEEP", "1": "WAGONEER L", "2": "2023"}, "11": {"0": "MITSUBISHI", "1": "RAIDER", "2": "2009"}, "12": {"0": "RAM", "1": "1500", "2": "2011-2012"}, "13": {"0": "RAM", "1": "DAKOTA", "2": "2011"}}'

In [13]:
vehicle = ''
for i in dict_vehicle:
    for j in dict_vehicle[i]:
        vehicle += dict_vehicle[i][j] + ' '
    vehicle = vehicle.strip() + '\n'

vehicle = vehicle.strip()

print(vehicle)

DODGE CALIBER 2012
DODGE DAKOTA 2008-2010
DODGE DURANGO 2009
DODGE NITRO 2009-2012
DODGE RAM 1500 PICKUP 2009-2010
JEEP COMMANDER 2009-2010
JEEP GRAND CHEROKEE 2009-2010
JEEP GRAND WAGONEER 2023
JEEP LIBERTY 2009-2012
JEEP WAGONEER 2023
JEEP WAGONEER L 2023
MITSUBISHI RAIDER 2009
RAM 1500 2011-2012
RAM DAKOTA 2011

In [14]:
df_temp = pd.DataFrame([{'JOIN_PTPKPNCN': input_.loc[a, 'JOIN_PTPKPNCN'],
                         'Json_Vehicle': json_vehicle,
                         'Vehicle': vehicle}])

output_correct = pd.concat([output_correct, df_temp], ignore_index=True).fillna('')

output_correct

,JOIN_PTPKPNCN,Json_Vehicle,Vehicle
0,,"{""0"": {""0"": ""DODGE"", ""1"": ""CALIBER"", ""2"": ""201...",DODGE CALIBER 2012\nDODGE DAKOTA 2008-2010\nDO...

In [15]:
crawler_status = 'ok'

crawler_status

'ok'

In [16]:
if crawler_status == 'error':
    df_temp = pd.DataFrame([{'JOIN_PTPKPNCN': input_.loc[a, 'JOIN_PTPKPNCN'],
                             'Part_PartType': input_.loc[a, 'Part_PartType'],
                             'PartKey': input_.loc[a, 'PartKey'],
                             'PartNumber': input_.loc[a, 'PartNumber'],
                             'CatalogName': input_.loc[a, 'CatalogName'],
                             'PartType': input_.loc[a, 'PartType'],
                             'PartKey': input_.loc[a, 'PartKey'],
                             'Tab_Url': input_.loc[a, 'Tab_Url'],
                             'Url': input_.loc[a, 'Url']}])

    output_error = pd.concat([output_error, df_temp], ignore_index=True).fillna('')

output_error

Empty DataFrame
Columns: []
Index: []

In [17]:
if len(output_correct) != 0:
    output_correct = output_correct.sort_values(by=['JOIN_PTPKPNCN'], ascending=[True], ignore_index=True)
    output_correct.to_excel('./test_vehicle.xlsx', index=False)

output_correct

,JOIN_PTPKPNCN,Json_Vehicle,Vehicle
0,,"{""0"": {""0"": ""DODGE"", ""1"": ""CALIBER"", ""2"": ""201...",DODGE CALIBER 2012\nDODGE DAKOTA 2008-2010\nDO...

In [18]:
if len(output_error) != 0:
    output_error = output_error.sort_values(by=['JOIN_PTPKPNCN'], ascending=[True], ignore_index=True)
    output_error.to_excel('./test_vehicle_error.xlsx', index=False)

output_error

Empty DataFrame
Columns: []
Index: []